<html>
<body><br><br><br><br>
  
  <nav class="main-header1 navbar navbar-inverse">
      
          <img src="../assets/img/m_logo.png" class="img-fluid img1">

  <div>
<ul class="nav navbar-nav">

    <ul class="horizantal-ul1 left-float-ul1 list-unstyled">
    <li>
        <div class="dropdown1">
          <button style="color:white" class="dropbtn1" id="main-cat-btn1"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
          <div class="dropdown-content1">
            <div class="menu-sub-menu-div1">
              <div class="sub-sub-menu1" id="br-all-sub1">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu1" id="res-sub1">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu1" id="on-sub1">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu1" id="vr-sub1">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
            </div>
            <table class="cat-tables1 bb1 no-padding1">
              <tr>
                <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 b-all-btn1">Browse all Products</span></a></td>
              </tr>
              <tr>
                <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 res-btn1">Resumes and Cover Letters</span></a></td>
              </tr>
              <tr>
                <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 on-btn1">Online Resumes</span></a></td>
              </tr>
              <tr>
                <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 vr-btn1">Visual Resumes</span></a></td>
              </tr>
              <tr>
                <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 lp-btn1">LinkedIn Profile</span></a></td>
              </tr>
            </table>
          </div>
        </div>
      </li>
      </ul>


    <li routerLink='/how-it-works'>
      <input style="color:white" type="button" class="main-nav-btns1" id="how-it-works-btn1" value="HOW IT WORKS">
    </li>
    <li routerLink='/become-an-author'>
      <input style="color:white" type="button" class="main-nav-btns1" id="become-an-author-btn1" value="BECOME AN AUTHOR">
    </li>
    <div class="right">
<li>
    <i style="font-size:25px;color:#999999;position:absolute;" class="fa fa-envelope-o" aria-hidden="true"></i> 
    <div style="background-color:#00C7E4;border-radius:4px;height:15px;width:15px;color:white;left:-10%;top:-5%;transform:translate(-50%,-30%)" class="notify">
        <p style="text-align:center;font-size:12px;">!</p>
      </div>
    
    
</li>
<li>
    <i style="font-size:25px;color:#999999;position:absolute;" class="fa fa-cog" aria-hidden="true"></i> 
    <div style="background-color:#00D7B5;border-radius:4px;height:15px;width:25px;color:white;left:-10%;top:-5%;transform:translate(-50%,-30%)" class="notify">
      <p style="text-align:center;font-size:12px;">49</p>
    </div>
    
</li>
<li>
    <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle"  alt="img" width="35px" height="35px">  
</li>  
</div>

    
</ul>  
</div>
</nav>

<div class="navbar navbar-stacked">
    <ul class="border">
      <li style="background-color:#FF5341;color:white;">Your popularity<h3>very low</h3></li>
      <li>Profile Page</li>
      <li>Account Settings</li>
      <li>Your Purchases</li>
      <li>Sales Statement</li>
      <li>Buy Credits</li>
      <li>Withdrawls</li>
      <li>Upload Item</li>
      <li>Manage Items</li>
      <li>Logout</li>
    </ul>
  </div>


</body>  
</html>
