<html>
    <body><br><br><br><br>
      
      <!-- <nav class="main-header1 navbar navbar-inverse w-control">
          
              <img src="../assets/img/m_logo.png" class="img-fluid img1">
    
      <div>
    <ul class="nav navbar-nav">
    
        <ul class="horizantal-ul1 left-float-ul1 list-unstyled">
        <li>
            <div class="dropdown1">
              <button style="color:white" class="dropbtn1" id="main-cat-btn1"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
              <div class="dropdown-content1">
                <div class="menu-sub-menu-div1">
                  <div class="sub-sub-menu1" id="br-all-sub1">
                    <ul>
                      <li><a>Accounting</a></li>
                      <li><a>Administration & Office Support</a></li>
                      <li><a>Advertising, Arts & Media</a></li>
                      <li><a>Banking & Financial Services</a></li>
                      <li><a>Call Centre & Customer Service</a></li>
                      <li><a>CEO & General Management</a></li>
                      <li><a>Construction</a></li>
                      <li><a>Consulting & Strategy</a></li>
                      <li><a>Design & Architecture</a></li>
                      <li><a>Education & Training</a></li>
                      <li><a>Engineering</a></li>
                      <li><a>Farming, Animals & Conservation</a></li>
                      <li><a>Government & Defence</a></li>
                    </ul>
                    <ul>
                      <li><a>Healthcare & Medical</a></li>
                      <li><a>Hospitality & Tourism</a></li>
                      <li><a>HR & Recruitment</a></li>
                      <li><a>Information & Communication Technology</a></li>
                      <li><a>Legal</a></li>
                      <li><a>Manufacturing & Logistics</a></li>
                      <li><a>Marketing</a></li>
                      <li><a>Real Estate & Property</a></li>
                      <li><a>Retail & Consumer Products</a></li>
                      <li><a>Sales</a></li>
                      <li><a>Science & Technology</a></li>
                      <li><a>Self Employment</a></li>
                      <li><a>Sports & Recreation</a></li>
                    </ul>
                  </div>
                  <div class="sub-sub-menu1" id="res-sub1">
                    <ul>
                      <li><a>Accounting</a></li>
                      <li><a>Administration & Office Support</a></li>
                      <li><a>Advertising, Arts & Media</a></li>
                      <li><a>Banking & Financial Services</a></li>
                      <li><a>Call Centre & Customer Service</a></li>
                      <li><a>CEO & General Management</a></li>
                      <li><a>Construction</a></li>
                      <li><a>Consulting & Strategy</a></li>
                      <li><a>Design & Architecture</a></li>
                      <li><a>Education & Training</a></li>
                      <li><a>Engineering</a></li>
                      <li><a>Farming, Animals & Conservation</a></li>
                      <li><a>Government & Defence</a></li>
                    </ul>
                    <ul>
                      <li><a>Healthcare & Medical</a></li>
                      <li><a>Hospitality & Tourism</a></li>
                      <li><a>HR & Recruitment</a></li>
                      <li><a>Information & Communication Technology</a></li>
                      <li><a>Legal</a></li>
                      <li><a>Manufacturing & Logistics</a></li>
                      <li><a>Marketing</a></li>
                      <li><a>Real Estate & Property</a></li>
                      <li><a>Retail & Consumer Products</a></li>
                      <li><a>Sales</a></li>
                      <li><a>Science & Technology</a></li>
                      <li><a>Self Employment</a></li>
                      <li><a>Sports & Recreation</a></li>
                    </ul>
                  </div>
                  <div class="sub-sub-menu1" id="on-sub1">
                    <ul>
                      <li><a>Accounting</a></li>
                      <li><a>Administration & Office Support</a></li>
                      <li><a>Advertising, Arts & Media</a></li>
                      <li><a>Banking & Financial Services</a></li>
                      <li><a>Call Centre & Customer Service</a></li>
                      <li><a>CEO & General Management</a></li>
                      <li><a>Construction</a></li>
                      <li><a>Consulting & Strategy</a></li>
                      <li><a>Design & Architecture</a></li>
                      <li><a>Education & Training</a></li>
                      <li><a>Engineering</a></li>
                      <li><a>Farming, Animals & Conservation</a></li>
                      <li><a>Government & Defence</a></li>
                    </ul>
                    <ul>
                      <li><a>Healthcare & Medical</a></li>
                      <li><a>Hospitality & Tourism</a></li>
                      <li><a>HR & Recruitment</a></li>
                      <li><a>Information & Communication Technology</a></li>
                      <li><a>Legal</a></li>
                      <li><a>Manufacturing & Logistics</a></li>
                      <li><a>Marketing</a></li>
                      <li><a>Real Estate & Property</a></li>
                      <li><a>Retail & Consumer Products</a></li>
                      <li><a>Sales</a></li>
                      <li><a>Science & Technology</a></li>
                      <li><a>Self Employment</a></li>
                      <li><a>Sports & Recreation</a></li>
                    </ul>
                  </div>
                  <div class="sub-sub-menu1" id="vr-sub1">
                    <ul>
                      <li><a>Accounting</a></li>
                      <li><a>Administration & Office Support</a></li>
                      <li><a>Advertising, Arts & Media</a></li>
                      <li><a>Banking & Financial Services</a></li>
                      <li><a>Call Centre & Customer Service</a></li>
                      <li><a>CEO & General Management</a></li>
                      <li><a>Construction</a></li>
                      <li><a>Consulting & Strategy</a></li>
                      <li><a>Design & Architecture</a></li>
                      <li><a>Education & Training</a></li>
                      <li><a>Engineering</a></li>
                      <li><a>Farming, Animals & Conservation</a></li>
                      <li><a>Government & Defence</a></li>
                    </ul>
                    <ul>
                      <li><a>Healthcare & Medical</a></li>
                      <li><a>Hospitality & Tourism</a></li>
                      <li><a>HR & Recruitment</a></li>
                      <li><a>Information & Communication Technology</a></li>
                      <li><a>Legal</a></li>
                      <li><a>Manufacturing & Logistics</a></li>
                      <li><a>Marketing</a></li>
                      <li><a>Real Estate & Property</a></li>
                      <li><a>Retail & Consumer Products</a></li>
                      <li><a>Sales</a></li>
                      <li><a>Science & Technology</a></li>
                      <li><a>Self Employment</a></li>
                      <li><a>Sports & Recreation</a></li>
                    </ul>
                  </div>
                </div>
                <table class="cat-tables1 bb1 no-padding1">
                  <tr>
                    <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 b-all-btn1">Browse all Products</span></a></td>
                  </tr>
                  <tr>
                    <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 res-btn1">Resumes and Cover Letters</span></a></td>
                  </tr>
                  <tr>
                    <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 on-btn1">Online Resumes</span></a></td>
                  </tr>
                  <tr>
                    <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 vr-btn1">Visual Resumes</span></a></td>
                  </tr>
                  <tr>
                    <td class="bb1 no-padding1"><a routerLink="/categories"><span class="cat-btns1 lp-btn1">LinkedIn Profile</span></a></td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
          </ul>
    
    
        <li routerLink='/how-it-works'>
          <input style="color:white" type="button" class="main-nav-btns1" id="how-it-works-btn1" value="HOW IT WORKS">
        </li>
        <li routerLink='/become-an-author'>
          <input style="color:white" type="button" class="main-nav-btns1" id="become-an-author-btn1" value="BECOME AN AUTHOR">
        </li>
        <div class="right">
    <li>
        <i style="font-size:25px;color:#999999;position:absolute;" class="fa fa-envelope-o" aria-hidden="true"></i> 
        <div style="background-color:#00C7E4;border-radius:4px;height:15px;width:15px;color:white;left:-10%;top:-5%;transform:translate(-50%,-30%)" class="notify">
            <p style="text-align:center;font-size:12px;">!</p>
          </div>
        
        
    </li>
    <li>
        <i style="font-size:25px;color:#999999;position:absolute;" class="fa fa-cog" aria-hidden="true"></i> 
        <div style="background-color:#00D7B5;border-radius:4px;height:15px;width:25px;color:white;left:-10%;top:-5%;transform:translate(-50%,-30%)" class="notify">
          <p style="text-align:center;font-size:12px;">49</p>
        </div>
        
    </li>
    <li>
        <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle"  alt="img" width="35px" height="35px">  
    </li>  
    </div>
    
        
    </ul>  
    </div>
    </nav>
    
    <div class="navbar navbar-stacked">
        <ul class="border">
          <li style="background-color:#FF5341;color:white;">Your popularity<h3>very low</h3></li>
          <li>Profile Page</li>
          <li>Account Settings</li>
          <li>Your Purchases</li>
          <li>Sales Statement</li>
          <li>Buy Credits</li>
          <li>Withdrawls</li>
          <li>Upload Item</li>
          <li>Manage Items</li>
          <li>Logout</li>
        </ul>
      </div> -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      <div class="header1 header2">
          <label for="res-men-check" class="visible-xs visible-sm t-check"><span><i class="fa fa-bars res-menu-ico" aria-hidden="true"></i><input type="checkbox" id="res-men-check" name="res-men-check"></span></label>
          <div class="res-menu visible-xs visible-sm">
            <ul>
              <li  id="res-title">Market place</li>
              <li><a routerLink='/home'><i class="fa fa-home res-menu-icons" aria-hidden="true"></i>Home</a></li>
              <li id="res-categories-div">
                <div class="res-cat-head"><i class="fa fa-bars res-menu-icons" aria-hidden="true"></i>CATEGORIES <i class="fa fa-caret-down" style="margin-left:20px"></i></div>
              </li>
              <div id="res-cats">
                <ul>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-globe" aria-hidden="true"></i>Browse all products</a>
                  </li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-file" aria-hidden="true"></i>Resumes and Cover Letters</a></li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-globe" aria-hidden="true"></i>Online Resumes</a></li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-eye" aria-hidden="true"></i>Visual Resumes</a></li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-linkedin" aria-hidden="true"></i>LinkedIn Profile</a></li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-anchor" aria-hidden="true"></i>Place Holder 1</a></li>
                  <li><a routerLink='/categories'><i class="res-menu-icons fa fa-anchor" aria-hidden="true"></i>Place Holder 2</a></li>
                </ul>
              </div>
              <li><a routerLink='/how-it-works'><i class="res-menu-icons fa fa-question-circle-o" aria-hidden="true"></i>How it works</a></li>
              <li><a routerLink='/become-an-author'><i class="res-menu-icons fa fa-user" aria-hidden="true"></i>Become an Author</a></li>
              <li id="res-register-btn"><a><i class="res-menu-icons fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
              <li  id="res-sign-in-btn"><a><i class="res-menu-icons fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
            </ul>
          </div>
          
          <header style="background-color:#2C373B;color:white" class="main-header visible-md visible-lg">
            <div class="header-control w-control">
              <a routerLink='/home'>
                <img src="../assets/../assets/img/m_logo.png" alt="" class="logo-img">
              </a>
              <ul class="horizantal-ul left-float-ul list-unstyled">
                <li>
                  <div class="dropdown">
                    <button style="color:white;" class="dropbtn" id="main-cat-btn"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
                    <div class="dropdown-content">
                      <div class="menu-sub-menu-div">
                        <div class="sub-sub-menu" id="br-all-sub">
                          <ul>
                            <li><a>Accounting</a></li>
                            <li><a>Administration & Office Support</a></li>
                            
                          </ul>
                          <ul>
                            <li><a>Healthcare & Medical</a></li>
                            <li><a>Hospitality & Tourism</a></li>
                            
                          </ul>
                        </div>
                        <div class="sub-sub-menu" id="res-sub">
                          <ul>
                            <li><a>Accounting</a></li>
                            <li><a>Administration & Office Support</a></li>
                           
                          </ul>
                          <ul>
                            <li><a>Healthcare & Medical</a></li>
                            <li><a>Hospitality & Tourism</a></li>
                           
                          </ul>
                        </div>
                        <div class="sub-sub-menu" id="on-sub">
                          <ul>
                            <li><a>Accounting</a></li>
                            <li><a>Administration & Office Support</a></li>
                           
                          </ul>
                          <ul>
                            <li><a>Healthcare & Medical</a></li>
                            <li><a>Hospitality & Tourism</a></li>
                           
                          </ul>
                        </div>
                        <div class="sub-sub-menu" id="vr-sub">
                          <ul>
                            <li><a>Accounting</a></li>
                            <li><a>Administration & Office Support</a></li>
                           
                          </ul>
                          <ul>
                            <li><a>Healthcare & Medical</a></li>
                            <li><a>Hospitality & Tourism</a></li>
                            <li><a>HR & Recruitment</a></li>
                            <li><a>Information & Communication Technology</a></li>
                            <li><a>Legal</a></li>
                            <li><a>Manufacturing & Logistics</a></li>
                            <li><a>Marketing</a></li>
                            <li><a>Real Estate & Property</a></li>
                            <li><a>Retail & Consumer Products</a></li>
                            <li><a>Sales</a></li>
                            <li><a>Science & Technology</a></li>
                            <li><a>Self Employment</a></li>
                            <li><a>Sports & Recreation</a></li>
                          </ul>
                        </div>
                      </div>
                      <table class="cat-tables bb no-padding">
                        <tr>
                          <td class="bb no-padding"><a routerLink="/categories"><span class="cat-btns b-all-btn">Browse all Products</span></a></td>
                        </tr>
                        <tr>
                          <td class="bb no-padding"><a routerLink="/categories"><span class="cat-btns res-btn">Resumes and Cover Letters</span></a></td>
                        </tr>
                        <tr>
                          <td class="bb no-padding"><a routerLink="/categories"><span class="cat-btns on-btn">Online Resumes</span></a></td>
                        </tr>
                        <tr>
                          <td class="bb no-padding"><a routerLink="/categories"><span class="cat-btns vr-btn">Visual Resumes</span></a></td>
                        </tr>
                        <tr>
                          <td class="bb no-padding"><a routerLink="/categories"><span class="cat-btns lp-btn">LinkedIn Profile</span></a></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </li>
                <li routerLink='/how-it-works'>
                  <input style="color:white;" type="button" class="main-nav-btns" id="how-it-works-btn" value="HOW IT WORKS">
                </li>
                <li routerLink='/become-an-author'>
                  <input style="color:white;" type="button" class="main-nav-btns" id="become-an-author-btn" value="BECOME AN AUTHOR">
                </li>
              </ul>
              <ul class="horizantal-ul right-float-ul list-unstyled">
                  <div class="right">
                      <li>
                          <i style="font-size:25px;color:#999999;" class="fa fa-envelope-o" aria-hidden="true"></i> 
                          <div style="background-color:#00C7E4;border-radius:4px;height:15px;width:15px;color:white;left:-10%;top:-10%;transform:translate(-210%,-80%)" class="notify">
                              <p style="text-align:center;font-size:12px;">!</p>
                            </div>
                          
                          
                      </li>
                      <li>
                          <i style="font-size:25px;color:#999999;" class="fa fa-cog" aria-hidden="true"></i> 
                          <div style="background-color:#00D7B5;border-radius:4px;height:15px;width:25px;color:white;left:-10%;top:-10%;transform:translate(-150%,-80%)" class="notify">
                            <p style="text-align:center;font-size:12px;">49</p>
                          </div>
                          
                      </li>
                      <li class="dropdown">
                          <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle imgg"  alt="img" width="35px" height="35px">  
    
                          
                              <ul class="navbar-stacked dropdown-menu">
                                <li style="background-color:#FF5341;color:white;height:auto;min-height:60%;">Your popularity<h3>very low</h3></li><br>
                                <li>Profile Page</li><br>
                                <li>Account Settings</li><br>
                                <li>Your Purchases</li><br>
                                <li>Sales Statement</li><br>
                                <li>Buy Credits</li><br>
                                <li>Withdrawls</li><br>
                                <li>Upload Item</li><br>
                                <li>Manage Items</li><br>
                                <li>Logout</li>
                              </ul>
                            
                            </li>
    
    
                            
    
    
                      </div>
    
                      
              </ul>
            </div>
          </header>
          </div>
    
          
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>  
    </html>
    
    <!-- <div class="navbar1 navbar-stacked1">
        <ul class="border1">
          <li style="background-color:#FF5341;color:white;">Your popularity<h3>very low</h3></li>
          <li>Profile Page</li>
          <li>Account Settings</li>
          <li>Your Purchases</li>
          <li>Sales Statement</li>
          <li>Buy Credits</li>
          <li>Withdrawls</li>
          <li>Upload Item</li>
          <li>Manage Items</li>
          <li>Logout</li>
        </ul>
      </div> -->
    
      
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    