<!doctype html>
<html>
    <body><br><br><br><br>
        <div class="container"><br><br>
            <h2 id="orders-title">My Gigs</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12 orders">
                        
                   <h4>Orders</h4>
                   <ul>
                       <li>Completed</li>
                       <li>In Progress</li>
                       <li>Cancelled</li>
                       <li>All</li>
                   </ul>
                </div>
                
                <div class="col-lg-9 col-md-9 col-xs-12 table-div">
                 
                  <table class="table table-responsive table-striped">
                      
                <tr>
                 <td colspan="9">   
                <h5>ACTIVE GIGS</h5> 
                </td>
                </tr> 
                <tr class="gig-orders">
                <td><input type="checkbox" name="name"></td>
                <td colspan="2">GIG</td>
                    
                <td>ORDERS</td>
                <td colspan="2">CANCELLATIONS</td>
                <td colspan="3"></td>
                </tr> 
                <tr *ngFor="let gig of final">
                    
                        <td><input type="checkbox" name="name"></td>
                            <td><img src="http://localhost:3000{{gig.img}}" class="img-responsive click"  alt="img" width="30px" height="0px"></td>    
                            <td>{{gig.title}}</td>
                            <td>{{gig.or_num}}</td>
                            <td>0%</td>
                            <td colspan="4">
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                              </button>
                                  
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a routerLink="" (click)="goto_gig_det(gig.gig_id)">PREVIEW</a></li>
                                      <li><a routerLink="" (click)="goto_edit_gig(gig.gig_id)">EDIT</a></li>
                                      <li><a >SHARE</a></li>
                                      <li style="cursor:pointer"><a (click)="delete_gig(gig.gig_id)">DELETE</a></li>
                                  </ul>
                                </div>
                            </td>
                
                            </tr> 
                </table>  
                </div>
            </div>
            <div class="image "><span (click)="hide_greeting()" ><i  class="fa fa-times " aria-hidden="true"></i></span>

                <img  src="../../assets/img/u1998.png" class="img-responsive" alt="img">
                <div class="text-img">
                <h3 class="text-center"><b>Congratulations! You posted a contest</b></h3>
                <p class="text-center">While you have coffee and wait for the entries to come,</p>
                <p class="text-center"><b>why not post another contest?</b></p>
                </div>
                
            </div>
            
        </div>
        <div class="pop-up">
            <div class="pop-in">
                <h2>Are You Sure !</h2>
                <h3>Want To Delete This Gig ??</h3>
                <button class="btn btn-danger" (click)="fin_delete_gig()">Ok</button>
                <button class="btn btn-success" (click)="close_pop()">Cancel</button>
            </div>
        </div>
    </body>
</html>