<body>
  
<div class="dotted">
  
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>WELCOME TO <span class="color">GETSY</span></h1>
    <p class="text">ADMINISTRATION</p><br>
    <div class="admin-back"><br><br>

      <div class="admin-size">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Password">
      </div>

      <div class="form-group">
        <input type="submit" class="form-control login" value="Login">
      </div>
      </div><br>
    </div><br>
    <p>Enter your username and password to login.</p>
    <p class="color">Go to the site</p>
  </div>
</div>
</div>
</div>

</body>