.err-container {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #216db8;
  color: #fff;
}

#whoops {
  position: relative;
  display: block;
  font-size: 300%;
  margin-bottom: 4vh;
}

#se-ex {
  position: relative;
  display: block;
  font-size: 160%;
  margin-bottom: 4vh;
}

.err-para {
  position: relative;
  display: block;
  font-size: 110%;
  line-height: 1.2;
  white-space: normal;
}


/* Extra Small Devices, .visible-xs-* */

@media (max-width: 767px) {
  .err-container {
    top: 0vh;
  }
  .err-container-core {
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 39%;
    transform: translate(-50%, -50%);
    white-space: normal;
  }
  .err-para {
    font-size: 130%;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
  .err-container-core {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 42%;
    transform: translate(-50%, -50%);
    white-space: normal;
  }
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
  .err-container {
    top: 11vh;
  }
  .err-container-core {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 42%;
    transform: translate(-50%, -50%);
    white-space: normal;
  }
}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {
  .err-container {
    margin-top: 11vh;
    padding: 0px 0!important;
    text-align: center;
  }
  .err-container-core {
    position: relative;
    display: block;
    width: 980px;
    margin: 20px auto !important;
    white-space: normal;
    padding-top: 100px;
    text-align: left;
  }
}
