      <div class="err-container">
          <div class="err-container-core">
            <h3 id="whoops">Whoops!</h3>
              <h4 id="se-ex">That's illegal !</h4>
              <p class="err-para">You seemed to have manipulated the url.</p><br>
              <p class="err-para">If you didn't we're sorry. Try refreshing the page. If the problem still persists, please contact support at
                support@marketplace.com</p>
                <h4 id="se-ex">Page not found !</h4>
                <p class="err-para">If you think this is important, please contact support at support@marketplace.com</p><br>
                  <h4 id="se-ex">Session Expired</h4>
                  <p class="err-para">There was a problem when trying to access your account.</p><br>
                  <p class="err-para">Please try to sign in again, if the problem persists please clear your browser's cache and cookies. If
                    the problem still persists, please contact support at support@marketplace.com</p>
                    <h4 id="se-ex">Something went wrong !</h4>
                    <p class="err-para">Sorry ! Please try refreshing the page. If the problem still persists, please contact support at support@marketplace.com</p>
                      <h4 id="se-ex">Something went wrong !</h4>
                      <p class="err-para">Sorry ! Please try refreshing the page. If the problem still persists, please contact support at support@marketplace.com</p>
                      <div class="back-arrow-div">

                      </div>
          </div>
      </div>