<div class="about-container">
    <div class="a-f-vp">
      <div class="a-f-b-p">
        <div class="a-width-desktop w-control">
          <h3 class="left-header">Terms of use</h3>
        </div>
      </div>
    </div>
    <div class="main-c-container">
      <div class="a-width-desktop w-control">
        <h3 class="gen-headers">Welcome to Envato's privacy policy</h3>
        <ol type="1">
          <li>
            <p>Hi, we're Envato Pty Ltd (ABN 11 119 159 741) and welcome to our privacy policy. This policy sets out how
              we handle personal information and applies across all the Envato's businesses, including Envato Market,
              Envato Studio ad Tuts+(the Sites).</p>
          </li>
          <li>
            <p>When we say '<strong>we</strong>','<strong>us</strong>' or '<strong>Envato</strong>' it's because that's
              who we are and we own and run the Sites. If we say '<strong>policy</strong>' we're talking about this
              privacy policy. If we say '<strong>user terms</strong>' we're talking about the rules for using each
              of the SItes. Take the time to read this policy because it forms a part of the user terms for each of
              our Sites. By using any of our Sites, you agree to this policy. If you don not agree to this policy we
              won't take it personally, but please do not use our Sites.</p>
          </li>
        </ol>
      </div>
    </div>
</div>
