ol li{
    text-align: justify
}
@media screen and (min-width:220px) and (max-width:740px) {
    .w-control {
        width: 280px;
    }
}
@media screen and (min-width:750px) and (max-width:1024px) {
    .w-control{
      width: 100%
    }
    
  }