<div class="settings-container">
  <div class="width-desktop w-control">
    <div class="l-f-div">
      <table>
        <tr>
          <td>
            <a routerLink='/settings'>
              <div class="l-f-t-d-div selected"><span class="l-f-td-words">Profile</span></div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink='/settings/password'>
              <div class="l-f-t-d-div"><span class="l-f-td-words">Password</span></div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink='/settings/financials'>
              <div class="l-f-t-d-div"><span class="l-f-td-words">Payment & Financials</span></div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink='/settings/account'>
              <div class="l-f-t-d-div"><span class="l-f-td-words">Account</span></div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a routerLink='/settings/email-notifications'>
              <div class="l-f-t-d-div"><span class="l-f-td-words">Email Notifications</span></div>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
         

