<div class="m-core">
<div class="w-control">
  <div class="col-lg-6 col-xs-12">
      <h2 id="orders-title">Your Notifications</h2>
  </div>
    
  <div class="col-lg-6 col-xs-12">
    <button class="btn btn-success btn-sm">Mark all as read</button>
    </div><br>
    <div class="clear-both"></div>

    </div>
    <div class="w-control">
      <div class="row">
        <div class="col-xs-12 border">
        <div class="reviews">
            <p>2 hours ago</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle"  alt="img" width="30px" height="30px">&nbsp;&nbsp;&nbsp;
            <p id="word"><b>Megan V.</b> added <b>Pixel Daimond Gaming Shop</b> to favourites</p>
            <i style="color:#00DCB1;font-size:25px;" class="fa fa-heart"></i>
          </div>
          </div>
          </div><br>

          <div class="row">
              <div class="col-xs-12 border">
              <div class="reviews">
                  <p>2 hours ago</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle"  alt="img" width="30px" height="30px">&nbsp;&nbsp;&nbsp;
                  <p id="word"><b>Megan V.</b> added <b>Pixel Daimond Gaming Shop</b> to favourites</p>
                  <i style="color:#00DCB1;font-size:25px;" class="fa fa-heart"></i>
                </div>
                </div>
                </div><br><br>

                <div class="row">
                  <div class="col-xs-12">
                      <div class="one">
                          17
                        </div>
                        <div class="one">
                            ...
                          </div>
                    <div class="one">
                      3
                    </div>
                    <div class="one">
                        2
                      </div>
                      <div class="one">
                          1
                        </div>
                  </div>
                </div>
    </div>
  </div>
