.change-pwd-div{
    position: relative;
    display: block;
    width: 80% !important;
    margin: 0 auto;
}
@media screen and (min-width:220px) and (max-width:740px){
  .r-f-div {
      position: relative;
      display: inline-block;
      background-color: #fff;
      left: -5%;
      top: 35%;
      transform: translate(0,35%)
    }
    .headings {
      width: 100%;
      float: left;
      
    }
    .save-button {
      position: relative;
      display: inline-block;
      margin-top: 25px !important;
      margin: 0 !important;
      height: 45px !important;
      width: 120px;
      color: #fff !important;
      background-color: #82B541 !important;
      border: transparent !important;
      border-radius: 2px;
      font-size: 90%;
      
    }
    
}