<div class="r-f-div">
  <h3 class="p-need headings">Password</h3>
  <hr class="top-hr">
  <div class="p-need change-pwd-div">
    <h4>Change Password</h4>
    <form method="POST" action="">
      <span class="p-f-titles">Current Password</span><br>
      <input type="password" id="cur-pwd" name="cur-pwd" [(ngModel)]="currentPassword"><br>
      <span class="p-f-titles">New Password*</span><br>
      <input type="password" id="n-pwd" name="n-pwd" [(ngModel)]="newPassword"><br>
      <span class="p-f-titles">Confirm Password*</span><br>
      <input type="password" id="c-n-pwd" name="c-n-pwd" [(ngModel)]="conformPassword">
      <hr>
      <div class="save-btn-area">
        <input type="submit" id="pwd-save-button" class="save-button" value="Save Settings" (click)="changePassword()">
      </div>
    </form>
  </div>
</div>