<div class="first-vp">
<div class="main-image">
  <div class="dark-cover"></div>
  <div class="left-center w-control">
    <h2>Welcome to Market Place</h2>
    <h3>We help <span class="ele">ele</span></h3>
    <div id="top-vp-btns-div">
      <button id="play-vid-btn">Play video</button>
      <button id="get-started-button" (click)='navToCategories()'>Get Started</button>
    </div>
  </div>
</div>
</div>
<div class="second-vp">
<div class="w-control">
  <h3 id="second-vp-head">It has everything you <br> need for amazing design</h3>
  <div class="second-vp-core-div">

  </div>
</div>
</div>
<div class="third-vp">
<div class="w-control">
  <h2 id="head1">What do you need designed ?</h2>
  <div class="tzo">
    <img src="../../assets/img/201.png" id="timg">
    <h3 class="th3">Experienced authors from India and all around the world</h3>
  </div>
  <div class="icon-menu-div w-control">
    <a>
      <span class="menu-icons" (click)="get_gigs('rc')">
        <i class="fa fa-file" id="logo-design-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">Resumes and <br>cover letters</h4>
      </span>
    </a>
    <a>
      <span class="menu-icons" (click)="get_gigs('or')">
        <i class="fa fa-globe" id="car-wrap-design-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">Online Resumes</h4>
      </span>
    </a>
    <a>
      <span class="menu-icons" (click)="get_gigs('vr')">
        <i class="fa fa-eye" id="logo-website-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">Visual resumes</h4>
      </span>
    </a>
    <a>
      <span class="menu-icons" (click)="get_gigs('lp')">
        <i class="fa fa-user" id="packaging-design-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">LinkedIn Profile</h4>
      </span>
    </a>
    <a>
      <span class="menu-icons">
        <i class="fa fa-book" id="brand-identity-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">Placeholder</h4>
      </span>
    </a>
    <a routerLink='/categories'>
      <span class="menu-icons">
        <i class="fa fa-anchor" id="t-shirt-icon" aria-hidden="true"></i>
        <h4 class="menu-icon-names">Placeholder</h4>
      </span>
    </a>
  </div>
  <hr class="menu-ico-hr w-control">
  <div class="w-control">
    <div class="gigs-div">

      <span *ngIf='loggedIn == false'>
        <!-- <a class="w-s-gig-link">
          <div class="we-saved-div">
            We saved a spot for your logo & brand identity pack design contest.
            <button type="button" id="w-s-g-s-btn">Get Started now</button>
          </div>
        </a> -->
      </span>
      
      
      <div *ngFor='let gig of gigs'>
        <a class="gig-links">

          <div class="gig" (click)='gotoGig(gig._id)'>

            <div class="gig-pic" >
             <span><img src="http://localhost:3000{{gig.img1.replace('public','')}}" alt="" style="height:100%;width:auto;max-width:100%"></span>
            </div>
            <div class="gig-dets">
              <h4>
                {{gig.title}}
              </h4>
              <h5 class="gig-credits">
                {{gig.first_name}}{{gig.last_name}}
              </h5>
            </div>

            <div class="gig-footer">
                <div class="dets">Details</div>
                <div class="cost">$ {{gig.pac_cos_sta}}</div>
            </div>

          </div>
          <div class="gig-details-container">
            <div class="gig-dets-top">
                <label>Category: {{gig.category}}</label><br>
                <label>Title: {{gig.title}}</label><br>
                <label>Description: {{gig.description}}</label>

            </div>
            <div class="gig-dets-btm">
              <button class="dets-add-to-cart-btn">
                Add to cart
              </button>

              <button class="dets-add-fav-btn" (click)= "addtoFav(gig._id)">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </a>
      </div>

            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
    </div>
  </div>
  
  <a routerLink='/categories'>
    <div id="browse-all-products-btn">BROWSE ALL PRODUCTS</div>
  </a>
</div>
</div>
<!--</div>
</div>-->
<div class="fourth-vp">
<div class="container">
  <h3 class="vp-heads">Get on the radar with companies you <br> would love to work for</h3>
  <div class="f-div">
    <div class="f-divs">
      <div class="f-div-img"><img src="../../assets/img/fone.jpg"></div>
      <h5>Be the boss of your career</h5>
      <h6>Own your data and control who has access to your profile.</h6>
    </div>
    <div class="f-divs">
      <div class="f-div-img"><img src="../../assets/img/ftwo.jpg"></div>
      <h5>Connect on your terms</h5>
      <h6>Join the live talent Communities of the companies you'd love to work for.</h6>
    </div>
    <div class="f-divs">
      <div class="f-div-img"><img src="../../assets/img/fthree.jpg"></div>
      <h5>Connect direct</h5>
      <h6>Receive job invites and chat with Hiring Managers.</h6>
    </div>
  </div>
</div>
</div>
<div class="fifth-vp">
<h2>Join our growing marketplace!</h2>
<h6>Ever wanted to sell your digital goods? Sign up with us and we'll help you distribute your prodcuts to a wide audience.
  Get started earning money today! </h6>
<a routerLink='/become-an-author'>
  <div id="ready-to-start-btn" class="container-fluid">READY TO START? &nbsp;BECOME AN AUTHOR TODAY !</div>
</a>
<div class="ff container">
  <table>
    <tr>
      <td>
        <div class="ffs"><img src="../../assets/img/ff-book.png"><span class="ff-h"><h3>7000 +</h3><h4>writers</h4></span></div>
      </td>
      <td>
        <div class="ffs"><img src="../../assets/img/ff-heart.png"><span class="ff-h"><h3>98%</h3><h4>of content accepted by clients</h4></span></div>
      </td>
      <td>
        <div class="ffs"><img src="../../assets/img/ff-tick.png"><span class="ff-h"><h3>Millions</h3><h4>Paid to writers</h4></span></div>
      </td>
    </tr>
  </table>
</div>
</div>