<!doctype html>
<html>
    <body><br><br><br><br>
        <div class="container"><br><br>
            <h2 id="orders-title">My Gigs</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12 orders">
                        
                   <h4>Orders</h4>
                   <ul>
                       <li>Completed</li>
                       <li>In Progress</li>
                       <li>Cancelled</li>
                       <li>All</li>
                   </ul>
                </div>
                
                <div class="col-lg-9 col-md-9 col-xs-12">
                 
                  <table class="table table-responsive table-striped">
                      
                <tr>
                 <td colspan="9">   
                <h5>ACTIVE GIGS</h5> 
                </td>
                </tr> 
                <tr class="gig-orders">
                <td><input type="checkbox" name="name"></td>
                <td colspan="2">GIG</td>
                    
                <td>ORDERS</td>
                <td colspan="2">CANCELLATIONS</td>
                <td colspan="3"></td>
                </tr> 
                
                <tr>
                    <td><input type="checkbox" name="name"></td>
                        <td><img src="../../assets/img/pro-pic.jpg" class="img-responsive click"  alt="img" width="30px" height="0px"></td>    
                        <td>give you 5 resume, cover letter, references letter templates</td>
                        <td>0</td>
                        <td>0%</td>
                        <td colspan="4">
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                          </button>
                              
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <li>PREVIEW</li>
                                  <li>EDIT</li>
                                  <li>SHARE</li>
                                  <li>DELETE</li>
                              </ul>
                            </div>
                        </td>
                        </tr> 
                </table>  
                </div>
            </div>
            <div class="image "><span ><i  class="fa fa-times " aria-hidden="true"></i></span>

                <img  src="../../assets/img/u1998.png" class="img-responsive" alt="img">
            </div>
        </div><br><br><br><br>
    </body>
</html>