<div class="r-f-div">
  <h3 class="p-need headings">Payment & Financials</h3>
  <hr class="top-hr">
  <div class="payment-methods p-need address-div">
    <h4>Payment Methods</h4><br><br>
    <div class="p-l-f-div payment-l-f-div">
      <img src="../../assets/img/paypal-logo.png" id="paypal-img" width="100"><span id="user-email">email@email.com</span>
    </div>
    <div class="p-r-f-div">
      <span id="payment-verified">Verified</span>
    </div>
  </div>
  <hr>
  <div class="address-div p-need">
    <h4>Update Paypal Details</h4><br><br>
    <p>
      In order to earn money, you'll need to set up your payment account. Please enter your PayPal email address.
    </p>
    <br>
    <br>
    <span class="err">
      Please enter email address and check the checkbox.
    </span>
    <span id="paypal-change-id">
      PAYPAL ID (EMAIL ADDRESS):
    </span>&nbsp; &nbsp;
    <form method="post" action="" autocomplete="off">
      <input type="email" id="change-paypal-input" name="change-paypal-input">
      <div class="imp-div">
        <span id="imp">
          IMPORTANT !
        </span>
        <p>
          We will not be able to recover funds sent to the wrong address, please make sure the information you enter is correct.
        </p>
      </div>
      <input type="checkbox" id="i-agree" name="i-agree">
      <label for="i-agree" class="i-agree-label">
        I UNDERSTAND AND AGREE.
      </label>
      <div class="clear-both"></div>
      <div class="save-btn-area">
        <input type="submit" class="save-button" value="Save Settings">
      </div>
    </form>
  </div>
</div>
