.txt-la {
  text-align: left;
}
.gigs-menu {
  z-index: 10;
}
#gig-pic-rating {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  font-size: 70%;
  color: #ccc3b3;
}


/* Extra Small Devices, .visible-xs-* */

@media (max-width: 767px) {
  body {
    background-color: #fff !important;
    white-space: normal !important;
  }
  p {
    font-size: 100% !important;
    line-height: 1.4 !important;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold !important;
  }
  h4 {
    position: relative;
    display: inline-block;
    font-size: 75% !important;
    margin-bottom: 15px !important;
    color: #999;
  }
  .main-checkout {
    position: relative;
    display: block;
    width: 85vw;
    margin: 1vh auto 3vh auto;
    background-color: transparent;
    overflow: hidden;
    font-size: 90%;
  }
  #your-order-h2 {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  #order-img {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    min-height: 300px;
  }
  .featured-gigs {
    width: 250px;
    height: 350px;
    border: transparent;
    border-radius: 0 !important;
    box-shadow: 7px 0 10px 1px #ddd;
  }
  .featured-gigs-table,
  .featured-gigs-table tbody {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .featured-gigs-table tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .g-r {
    position: relative;
    display: inline-block;
    height: 80px;
  }
  .featured-gigs-table td,
  .gig-pic {
    position: relative;
    display: block;
    width: 100%;
  }
  .featured-gigs-table h4 {
    font-size: 140% !important;
  }
  .featured-gigs-table .cost {
    font-size: 33px;
  }
  .featured-gigs-table .small-dollar {
    bottom: 12px;
  }
  .absolute-down-tr {
    font-size: 170% !important;
  }
  .fill {
    height: 40px;
  }
  .gig-pic {
    height: 90px;
  }
  .order-top-dets {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    overflow: hidden;
  }
  #order-dets {
    position: relative;
    display: block;
    float: left;
    width: 90%;
  }
  #desc {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  #desc table {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #desc tbody,
  #desc tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .m-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: left;
    width: 85%;
    white-space: normal !important;
  }
  #extra td {
    display: inline-block !important;
  }
  .l-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 15%;
  }
  #extra .m-width {
    width: 85%;
  }
  #extra .l-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 15%;
  }
  .cost {
    position: relative;
    display: inline-block;
    color: #8f80fb !important;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
  }
  .small-dollar {
    position: relative;
    display: inline-block;
    font-size: 50%;
    bottom: 0px;
  }
  #extra {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras {
    position: relative;
    display: inline-block;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .extras table,
  .extras tbody,
  .extras tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras .float-left {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 10%;
  }
  .extras .float-right {
    position: relative;
    display: inline-block;
    float: left !important;
    width: 50%;
  }
  .be-cost {
    position: relative;
    display: block;
    color: #999;
    font-size: 18px;
  }
  #total {
    position: relative;
    display: block;
    padding-top: 20px;
  }
  #total table,
  #total tbody,
  #total tr {
    position: relative;
    display: block;
    width: 100%;
  }
  #tot {
    position: relative;
    display: inline-block;
    color: #999;
    margin-right: 20px;
  }
  #total .cost {
    position: relative;
    display: inline-block;
    margin-right: 80px;
  }
  .pro-br-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  #pro-br-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
    text-align: left;
  }
  #h3 {
    position: relative;
    display: block;
    font-size: 115% !important;
    margin: 20px 0 !important;
    text-align: left;
  }
  #h4 {
    position: relative;
    display: block;
    font-size: 95% !important;
    margin: 20px 0 !important;
    text-align: left;
  }
  .pro-br-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  #pro-br-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
  }
  #h3 {
    position: relative;
    display: block;
    font-size: 115% !important;
    margin: 20px 0 !important;
  }
  #h4 {
    position: relative;
    display: block;
    font-size: 95% !important;
    margin: 20px 0 !important;
  }
  .imp_divs {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
  }
  .imp_div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: #FAFAFA;
    border: 1px dashed teal;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
  }
  .imp_div h3 {
    font-size: 110%;
    font-weight: bold;
  }
  .imp_div h4 {
    font-size: 100%;
  }
  .imp_div h6 {
    font-size: 80%;
    font-style: italic;
  }
  .imp_div * {
    max-width: 60%;
    text-align: center;
  }
  .imp_div label {
    height: 40px;
  }
  .imp_btn {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #00BDEB;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  #l_imp_btn {
    background-color: #0073B2;
    margin-bottom: 30px;
  }
  #brief {
    position: relative;
    display: block;
    width: 70%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px 0;
    resize: none;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 40px;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #0f0;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #brief {
    position: relative;
    display: block;
    width: 90%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px auto;
    resize: none;
    text-align: left;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 50px;
    padding: 0 40px;
    margin: 0 auto !important;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #82B541;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #proceed-btn {
    position: relative;
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-weight: bold;
    font-size: 110%;
    background-color: #82B541;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }
  #proceed-btn:hover {
    background-color: #6D9837;
  }
}


/* Small Devices, .visible-sm-* */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #fff !important;
    white-space: normal !important;
  }
  p {
    font-size: 75% !important;
    line-height: 1.4 !important;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold !important;
  }
  h4 {
    position: relative;
    display: inline-block;
    font-size: 75% !important;
    margin-bottom: 15px !important;
    color: #999;
  }
  .main-checkout {
    position: relative;
    display: block;
    width: 90%;
    margin: 0vh auto 10vh auto;
    background-color: transparent;
    overflow: hidden;
  }
  #your-order-h2 {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  #order-img {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    text-align: left;
    min-height: 300px;
  }
  .featured-gigs {
    width: 60%;
    height: 250px;
    border: transparent;
    border-radius: 0 !important;
    box-shadow: 7px 0 10px 1px #ddd;
  }
  .featured-gigs-table,
  .featured-gigs-table tbody {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .featured-gigs-table tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .g-r {
    position: relative;
    display: inline-block;
    height: 40px;
  }
  .featured-gigs-table td,
  .gig-pic {
    position: relative;
    display: block;
    width: 100%;
  }
  .featured-gigs-table .cost {
    font-size: 23px;
  }
  .featured-gigs-table .small-dollar {
    bottom: 6px;
  }
  .absolute-down-tr {
    font-size: 80% !important;
  }
  .fill {
    height: 40px;
  }
  .gig-pic {
    height: 90px;
  }
  .order-top-dets {
    position: relative;
    display: block;
  }
  #order-dets {
    position: relative;
    display: inline-block;
    float: right;
    width: 70%;
  }
  #desc {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  #desc table {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #desc tbody,
  #desc tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .m-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: left;
    width: 70%;
    white-space: normal !important;
  }
  .l-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 30%;
  }
  .cost {
    position: relative;
    display: block;
    color: #8f80fb !important;
    font-size: 18px;
    font-weight: bold;
  }
  .small-dollar {
    position: relative;
    display: inline-block;
    font-size: 50%;
    bottom: 4px;
  }
  #extra {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras {
    position: relative;
    display: inline-block;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .extras table,
  .extras tbody,
  .extras tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras .float-left {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 10%;
  }
  .extras .float-right {
    position: relative;
    display: inline-block;
    float: left !important;
    width: 50%;
  }
  .be-cost {
    position: relative;
    display: block;
    color: #999;
    font-size: 18px;
  }
  #total {
    position: relative;
    display: block;
    padding-top: 20px;
  }
  #total table,
  #total tbody,
  #total tr {
    position: relative;
    display: block;
    width: 100%;
  }
  #tot {
    position: relative;
    display: inline-block;
    color: #999;
    margin-right: 20px;
  }
  #total .cost {
    font-size: 20px;
  }
  #total .small-dollar {
    bottom: 5px;
  }
  .pro-br-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  #pro-br-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
  }
  #h3 {
    position: relative;
    display: block;
    font-size: 115% !important;
    margin: 20px 0 !important;
  }
  #h4 {
    position: relative;
    display: block;
    font-size: 95% !important;
    margin: 20px 0 !important;
  }
  .imp_divs {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
  }
  .imp_div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: #FAFAFA;
    border: 1px dashed teal;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
  }
  .imp_div h3 {
    font-size: 110%;
    font-weight: bold;
  }
  .imp_div h4 {
    font-size: 100%;
  }
  .imp_div h6 {
    font-size: 80%;
    font-style: italic;
  }
  .imp_div * {
    max-width: 60%;
    text-align: center;
  }
  .imp_div label {
    height: 40px;
  }
  .imp_btn {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #00BDEB;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  #l_imp_btn {
    background-color: #0073B2;
    margin-bottom: 30px;
  }
  #brief {
    position: relative;
    display: block;
    width: 70%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px 0;
    resize: none;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 40px;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #0f0;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #brief {
    position: relative;
    display: block;
    width: 90%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px auto;
    resize: none;
    text-align: left;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 50px;
    padding: 0 40px;
    margin: 0 auto !important;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #82B541;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #proceed-btn {
    position: relative;
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-weight: bold;
    font-size: 110%;
    background-color: #82B541;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }
  #proceed-btn:hover {
    background-color: #6D9837;
  }
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
  .user-top-nav {
    position: relative;
    display: block;
    margin-top: 11vh;
  }
  body {
    background-color: #fff !important;
    white-space: normal !important;
  }
  p {
    font-size: 75% !important;
    line-height: 1.4 !important;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold !important;
  }
  h4 {
    position: relative;
    display: inline-block;
    font-size: 75% !important;
    margin-bottom: 15px !important;
    color: #999;
  }
  .main-checkout {
    position: relative;
    display: block;
    width: 980px;
    margin: 5vh auto 10vh auto;
    background-color: transparent;
    overflow: hidden;
  }
  #your-order-h2 {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  #order-img {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    text-align: left;
    min-height: 300px;
  }
  .featured-gigs {
    width: 60%;
    height: 250px;
    border: transparent;
    border-radius: 0 !important;
    box-shadow: 7px 0 10px 1px #ddd;
  }
  .featured-gigs-table,
  .featured-gigs-table tbody {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .featured-gigs-table tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .g-r {
    position: relative;
    display: inline-block;
    height: 40px;
  }
  .featured-gigs-table td,
  .gig-pic {
    position: relative;
    display: block;
    width: 100%;
  }
  .featured-gigs-table .cost {
    font-size: 23px;
  }
  .featured-gigs-table .small-dollar {
    bottom: 6px;
  }
  .absolute-down-tr {
    font-size: 80% !important;
  }
  .fill {
    height: 40px;
  }
  .gig-pic {
    height: 90px;
  }
  .order-top-dets {
    position: relative;
    display: block;
  }
  #order-dets {
    position: relative;
    display: inline-block;
    float: right;
    width: 70%;
  }
  #desc {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  #desc table {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #desc tbody,
  #desc tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .m-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: left;
    width: 70%;
    white-space: normal !important;
  }
  .l-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 30%;
  }
  .cost {
    position: relative;
    display: block;
    color: #8f80fb !important;
    font-size: 18px;
    font-weight: bold;
  }
  .small-dollar {
    position: relative;
    display: inline-block;
    font-size: 50%;
    bottom: 4px;
  }
  #extra {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras {
    position: relative;
    display: inline-block;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .extras table,
  .extras tbody,
  .extras tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras label {
    position: relative;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
  }
  .extras .float-left {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    float: left !important;
    width: 15%;
    height: 100% !important;
    margin-right: 20px;
    font-size: 100%;
  }
  .extras .float-right {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    float: right !important;
    width: 60%;
    height: 100%;
  }
  .be-cost {
    position: relative;
    display: block;
    color: #999;
    font-size: 18px;
  }
  #total {
    position: relative;
    display: block;
    padding-top: 20px;
  }
  #total table,
  #total tbody,
  #total tr {
    position: relative;
    display: block;
    width: 100%;
  }
  #tot {
    position: relative;
    display: inline-block;
    color: #999;
    margin-right: 20px;
  }
  #total .cost {
    font-size: 20px;
  }
  #total .small-dollar {
    bottom: 5px;
  }
  .pro-br-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  #pro-br-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
  }
  #h3 {
    position: relative;
    display: block;
    font-size: 115% !important;
    margin: 20px 0 !important;
  }
  #h4 {
    position: relative;
    display: block;
    font-size: 95% !important;
    margin: 20px 0 !important;
  }
  .imp_divs {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
  }
  .imp_div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: #FAFAFA;
    border: 1px dashed teal;
    margin-right: 30px;
    height: 200px;
    width: 300px;
  }
  .imp_div h3 {
    font-size: 110%;
    font-weight: bold;
  }
  .imp_div h4 {
    font-size: 100%;
  }
  .imp_div h6 {
    font-size: 80%;
    font-style: italic;
  }
  .imp_div * {
    max-width: 60%;
    text-align: center;
  }
  .imp_btn {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #00BDEB;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  #l_imp_btn {
    background-color: #0073B2;
    margin-bottom: 30px;
  }
  #brief {
    position: relative;
    display: block;
    width: 70%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px 0;
    resize: none;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 40px;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #0f0;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #proceed-btn {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    float: left;
    margin-left: 0%;
    width: 40%;
    height: 50px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-weight: bold;
    font-size: 110%;
    background-color: #82B541;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }
  #proceed-btn:hover {
    background-color: #6D9837;
  }
}


/* Large Devices, .visible-lg-* */

@media (min-width: 1200px) {
  .user-top-nav {
    position: relative;
    display: block;
    margin-top: 11vh;
  }
  body {
    background-color: #fff !important;
    white-space: normal !important;
  }
  p {
    font-size: 75% !important;
    line-height: 1.4 !important;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold !important;
  }
  h4 {
    position: relative;
    display: inline-block;
    font-size: 75% !important;
    margin-bottom: 15px !important;
    color: #999;
  }
  .main-checkout {
    position: relative;
    display: block;
    width: 980px;
    margin: 5vh auto 10vh auto;
    background-color: transparent;
    overflow: hidden;
  }
  #your-order-h2 {
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 150%;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  #order-img {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    text-align: left;
    min-height: 300px;
  }
  .featured-gigs {
    width: 60%;
    height: 250px;
    border: transparent;
    border-radius: 0 !important;
    box-shadow: 7px 0 10px 1px #ddd;
  }
  .featured-gigs-table,
  .featured-gigs-table tbody {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .featured-gigs-table tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .g-r {
    position: relative;
    display: inline-block;
    height: 40px;
  }
  .featured-gigs-table td,
  .gig-pic {
    position: relative;
    display: block;
    width: 100%;
  }
  .featured-gigs-table .cost {
    font-size: 23px;
  }
  .featured-gigs-table .small-dollar {
    bottom: 6px;
  }
  .absolute-down-tr {
    font-size: 80% !important;
  }
  .fill {
    height: 40px;
  }
  .gig-pic {
    height: 90px;
  }
  .order-top-dets {
    position: relative;
    display: block;
  }
  #order-dets {
    position: relative;
    display: inline-block;
    float: right;
    width: 70%;
  }
  #desc {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  #desc table {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #desc tbody,
  #desc tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .m-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: left;
    width: 70%;
    white-space: normal !important;
  }
  .l-width {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 30%;
  }
  .cost {
    position: relative;
    display: block;
    color: #8f80fb !important;
    font-size: 18px;
    font-weight: bold;
  }
  .small-dollar {
    position: relative;
    display: inline-block;
    font-size: 50%;
    bottom: 4px;
  }
  #extra {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras {
    position: relative;
    display: inline-block;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .extras table,
  .extras tbody,
  .extras tr {
    position: relative;
    display: block;
    width: 100%;
  }
  .extras label {
    position: relative;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
  }
  .extras .float-left {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    float: left !important;
    width: 15%;
    height: 100% !important;
    margin-right: 20px;
    font-size: 100%;
  }
  .extras .float-right {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    float: right !important;
    width: 60%;
    height: 100%;
  }
  .be-cost {
    position: relative;
    display: block;
    color: #999;
    font-size: 18px;
  }
  #total {
    position: relative;
    display: block;
    padding-top: 20px;
  }
  #total table,
  #total tbody,
  #total tr {
    position: relative;
    display: block;
    width: 100%;
  }
  #tot {
    position: relative;
    display: inline-block;
    color: #999;
    margin-right: 20px;
  }
  #total .cost {
    font-size: 20px;
  }
  #total .small-dollar {
    bottom: 5px;
  }
  .pro-br-div {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  #pro-br-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 130%;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
  }
  #h3 {
    position: relative;
    display: block;
    font-size: 115% !important;
    margin: 20px 0 !important;
  }
  #h4 {
    position: relative;
    display: block;
    font-size: 95% !important;
    margin: 20px 0 !important;
  }
  .imp_divs {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-grow: 1;
  }
  .imp_div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: #FAFAFA;
    border: 1px dashed teal;
    margin-right: 30px;
    height: 200px;
    width: 300px;
  }
  .imp_div h3 {
    font-size: 110%;
    font-weight: bold;
  }
  .imp_div h4 {
    font-size: 100%;
  }
  .imp_div h6 {
    font-size: 80%;
    font-style: italic;
  }
  .imp_div * {
    max-width: 60%;
    text-align: center;
  }
  .imp_btn {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #00BDEB;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  #l_imp_btn {
    background-color: #0073B2;
    margin-bottom: 30px;
  }
  #brief {
    position: relative;
    display: block;
    width: 70%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 20px 0;
    resize: none;
    padding: 10px;
  }
  #add-files-btn {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 40px;
    border: 3px solid #82B541;
    border-radius: 2px;
    color: #0f0;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
  }
  #proceed-btn {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    float: left;
    margin-left: 50%;
    width: 40%;
    height: 50px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-weight: bold;
    font-size: 110%;
    background-color: #82B541;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }
  #proceed-btn:hover {
    background-color: #6D9837;
  }
}


