      <div class="main-checkout">
        <h2 id="your-order-h2">1. Order Details</h2>
        <div class="order-top-dets">
          <div class="left-float" id="order-img">
            <div class="featured-gigs">
              <table class="featured-gigs-table">
                <tr>
                  <td class="g-r">
                    <div id="gig-pic-rating">
                      <select class="rrating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="gig-pic" style="background-image:url('../../assets/gig-pic.png')"></div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h4>
                      Title
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="fill"></td>
                </tr>
                <tr class="absolute-down-tr">
                  <td><span class="float-left"><span class="gig-credits">By Seller</span></span>
                  </td>
                  <td>
                    <div class="float-right"><span class="g-p-cost cost"><span class="small-dollar">$</span>
                      200
                      </span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="right-float" id="order-dets">
            <form class="" action="" method="post" enctype="multipart/form-data">
              <section id="desc">
                <table>
                  <tr>
                    <td class="m-width">
                      <h4>DESCRIPTION</h4>
                    </td>
                    <td class="l-width">
                      <h4>PRICE</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="m-width">
                      <p>
                        Desc Desc
                      </p>
                    </td>
                    <td class="l-width"><span class="cost"><span class="small-dollar">$</span>
                      200
                      </span>
                    </td>
                  </tr>
                </table>
              </section>
              <section id="extra">
                <h4>EXTRAS</h4>
                  <div class="extras">
                    <table>
                      <tr>
                        <td class="m-width">
                          <label for="ex">
                    <div class="float-left">
                      <input type="checkbox" class="extra-checks" name="extra_checks[]" id="ex" checked="true" value="">
                    </div>
                    <div class="float-right">
                      <p>Extra one of gig one </p>
                    </div>
                  </label>
                        </td>
                        <td class="l-width"><span class="be-cost cost"><span class="small-dollar">$</span><span class="price-num">10</span></span>
                        </td>
                      </tr>
                    </table>
                  </div>
              </section>
              <section id="total">
                <table>
                  <tr>
                    <td class="m-width"></td>
                    <td class="l-width"><span id="tot">TOTAL</span><span class="cost">
              <input type="text" id="total-cost-input" hidden="hidden" name="total-cost-input" value="">
              <span id="total_price"></span></span>
                    </td>
                  </tr>
                </table>
              </section>
          <!-- </div> -->
        <!-- </div> -->
        <div class="clear-both"></div>
        <div class="pro-br-div">
          <h2 id="pro-br-title">2.Provide your brief</h2>
          <h3 id="h3">If you have resume handy, we can use it to populate your profile and save you some typing</h3>
          <div class="imp_divs">
            <div class="imp_div">
              <h3>Upload your latest resume</h3>
              <label for="buyer_files" class="imp_btn">
              Choose file
            </label>
              <input type="file" id="buyer_files" name="buyer_files[]" style="display:none" multiple="multiple">
              <h4>Drag your CV here</h4>
              <h6>Recommended. Best format is a Word document, but we support most files.</h6>
            </div>
            <div class="imp_div">
              <h3>Or import basic info from</h3>
              <span class="imp_btn" id="l_imp_btn">Linkedin</span>
              <h6>Limited to basic profile and current role(s)</h6>
            </div>
          </div>
          <output id="list"></output>
          <textarea id="brief" name="buyer-brief"></textarea>
        </div>
        <input type="submit" name="submit" id="proceed-btn" value="Proceed to payment">
        </form>
        
      </div>
     