    <div class="main-body">
        <div class="user-dash-core">
            <div class="clear-both"></div>
            <div class="whole-dash">
                <div class="account-warning-div"><span id="war-pad">Your account is missing your details needed to indentify your account. <a routerLink='/settings'>Click here to update.</a></span></div>
                  <div class="dash-left">
                    <div class="user-tech-details">
                      <div class="tech-det-top">
                        <img src="../../assets/img/pro-pic.jpg" id="user-img">
                        <h3 id="u-name">
                          Name
                        </h3>
                        <h4 id="designation">
                          Designation
                        </h4>
                      </div>
                      <div class="tech-det-tabs">
                        <ul>
                          <li><span class="t-d-tabs-name"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right:10px"></i>From</span>
                            <span
                              class="t-d-tabs-value">
                              Country
                              </span>
                          </li>
                          <li><span class="t-d-tabs-name"><i class="fa fa-globe" aria-hidden="true" style="margin-right:10px"></i>Languages</span>
                            <span
                              class="t-d-tabs-value">
                              <ul id="lan">
                                <li>English</li>
                                <li>Hindi</li>
                              </ul>
                              </span>
                          </li>
                          <li id="flex-col"><span id="bio-title"><i class="fa fa-info-circle" aria-hidden="true" style="margin-right:10px"></i>Bio</span>
                            <span
                              class="bio-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugit ea repudiandae amet architecto adipisci est aut tempore vero esse. Deserunt sapiente, incidunt porro quis inventore iste rem temporibus iusto.
                              </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="dash-right">
                    <div id="dash-welcome-div">
                      <h2>Welcome to Market place !</h2>
                      <h3>You are now part of global community of over 518,316 creatives. We're happy to have you onboard.</h3>
                    </div>
                    <a routerLink='/create-gig'>
                        <div id="create-project-div">
                          <i class="fa fa-plus" aria-hidden="true" style="font-size:450%;color:#75787d"></i>
                          <h3>Create your first project</h3>
                          <h5>Millions of talented freelancers are here to help you do amazing things.</h5>
                        </div>
                      </a>
                        <div class="to-dos">
                          <table>
                            <tr>
                              <td class="to-do-header"><span id="to-do-head">TO-DOS(2)</span></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="to-do-left"><img src="" class=""><span class="to-do">You received a Gig offer</span><br><span class="to-do-new">NEW !</span></div>
                                <input
                                  type="button" class="rev-btn" value="Review now"></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="to-do-left"><img src="" class=""><span class="to-do">You received a Gig offer</span><br><span class="to-do-new">NEW !</span></div>
                                <input
                                  type="button" class="rev-btn" value="Review now"></td>
                            </tr>
                          </table>
                        </div>
                  </div>
            </div>
        </div>
    </div>
      