@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
html {
  width: 100vw !important;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #fff;
  font-family: 'Roboto', sans-serif !important;
}

* {
  font-size: 100%;
}


/* Disabling out lines when clicked on buttons */

*:focus {
  outline: none !important;
}

textarea:focus,
input:focus,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}


/* Common custom classes */

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.horizantal-ul li {
  display: inline-block;
}

.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bold {
  font-weight: bold !important;
}

.clear-both {
  clear: both !important;
}

.no-padding {
  padding: 0 !important;
}


/* Disabling spinner in input type numbers */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}


/* Making sure that icons don't take extra length */

.fa {
  display: inline-block !important;
  width: auto;
}
