<!-- Login Sign up -->
<!-- Header for mobiles and smaller devices -->
<header style="background-color:#303132" class="mob-main-header visible-sm visible-xs">
    <button style="background-color:#303132;border-color:#303132" type="button" class="mob-menu-trig-btn">
        <i style="color:white;padding:10px" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="mob-main-logo" routerLink='/home'>
      <img src="../../assets/logo/logo.png">
    </div>
  <span *ngIf="!authService.loggedIn()" (click)='loginSignupTrigger()'>
    <i style="color:white;font-size:20px;float:right;padding:20px;" class="fa fa-user-o" aria-hidden="true"></i>
  </span>
  </header>


<div class="mob-menu visible-sm visible-xs">
    <ul class="list-unstyled">
      <a routerLink='/home'>
      <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
        HOME
      </li>
      </a>
      <a routerLink='/categories'>
      <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
        CATEGORIES
      </li>
      </a>
      <a routerLink='/about'>
        <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
          ABOUT
        </li>
        </a>
        <a routerLink='/account'>
          <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
            ACCOUNT
          </li>
          </a>
          <a routerLink='/terms'>
          <li class="reward-pts-trig-btn" (click)='closeMobMenu()'>
            TERMS
          </li>
          </a>
          
    </ul>
  </div>
<!--SIDE HEADER ENDS HERE-->

<div *ngIf='showDarkBack'>

  <div id="dark-back">
    <i class="fa fa-times close-mark" aria-hidden="true" (click)="closeShowBack(true)"></i>
    <h2 id="db-main-head">Market place</h2>
    <h3 id="db-main-caption">Universal access to the world's best market place</h3>
    <div class="dark-core">
      <div class="dark-index">
        <ul id="dark-ul">
          <li id="login-trig-btn" (click)='showBackLogin(true)'>LOG IN</li>
          <li id="signup-trig-btn" (click)='showBackSignUp(true)'>SIGN UP</li>
        </ul>
      </div>
      
      <div *ngIf='showLoginDiv'>
        <div class="dark-side">
          <div class="dark-icos">
            <img src="../assets/img/dbone.jpg" class="dbimgs">
            <div class="dbico-core">
              <h2 class="dbico-htwo">
                30 DAYS MONEY BACK GUARANTEE
              </h2>
              <p class="dbico-p">
                We are fairly small, flexible design studio that  designs for print and web. We work flexibly with clients.
              </p>
            </div>
          </div>
          <div class="dark-icos">
            <img src="../assets/img/dbtwo.jpg" class="dbimgs">
            <div class="dbico-core">
              <h2 class="dbico-htwo">
                NEW ITEMS ARE INCLUDED IN SAME SUBSCRIPTIONS
              </h2>
              <p class="dbico-p">
                We are fairly small, flexible design studio that  designs for print and web. We work flexibly with clients.
              </p>
            </div>
          </div>
          <div class="dark-icos">
            <img src="../assets/img/dbthree.jpg" class="dbimgs">
            <div class="dbico-core">
              <h2 class="dbico-htwo">
                24/7 DEDICATED CUSTOMER SUPPORT
              </h2>
              <p class="dbico-p">
                We are fairly small, flexible design studio that  designs for print and web. We work flexibly with clients.
              </p>
            </div>
          </div>
          <div class="dark-icos">
            <img src="../assets/img/dbfour.jpg" class="dbimgs">
            <div class="dbico-core">
              <h2 class="dbico-htwo">
                100% SECURED PAYMENT GATEWAY
              </h2>
              <p class="dbico-p">
                We are fairly small, flexible design studio that  designs for print and web. We work flexibly with clients.
              </p>
            </div>
          </div>
        </div>
        <div *ngIf='showLogin'>
          <div class="login-div">
              <div class="l-t-icon">
        
              </div>
              <h3 id="login-head">LOGIN TO RESTORED</h3>
              <input type="email" id="d-login-email" placeholder="Email" [(ngModel)]="loginEmail">
              <p class="err" id="login-email-err"style="color:red"></p>
              <input type="password" id="d-login-pwd" name="name" placeholder="Password" [(ngModel)]="loginPassword">
              <a id="forgot-pad-btn" (click)="showFp(true)">Forgot?</a>
              <p class="err" id="login-err"style="color:red"></p>
              <button id="login-submit-btn" (click)="LoginSubmit(loginEmailInput,loginPasswordInput)">LOGIN</button>
              <h5 class="nor">OR</h5>
              <div class="social-icons">
                <div class="social-icon facebook-icon">
                  <i class="fa fa-facebook-f" aria-hidden="true"></i>
                </div>
                <span class="social-icon google-icon" (click)="googleLogin()">
                  <i class="fa fa-google" aria-hidden="true"></i>                      
                </span>
                <div class="social-icon linkedin-icon">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
            </div>
      </div>
        <div *ngIf='showSignUp'>
          
          <div class="signup-div">
            <div class="l-t-icon">
      
            </div>
            <h3 id="signup-head">CREATE YOUR ACCOUNT</h3>
            <table id="db-radio-table">
              <tr>
                <td>
                  <input type="radio" id="client-char" name="char" value="client" [(ngModel)]="regRole">
                </td>
                <td>
                  <label for="client-char">Client</label>
                </td>
                <td>
                  <input type="radio" id="author-char" name="char" value="author" [(ngModel)]="regRole">
                </td>
                <td>
                  <label for="author-char">Author</label>
                </td>
              </tr>
            </table>
            <ul>
              <li><input type="text" id="d-signup-f-name" placeholder="First Name" [(ngModel)]="regFirstName"></li>
              <li><input type="text" id="d-signup-l-name" placeholder="Last Name" [(ngModel)]="regLastName"></li>
            </ul>
            <!--<input type="text" id="d-signup-name" placeholder="Full Name">-->
            <input type="text" id="d-signup-email" placeholder="Email" [(ngModel)]="regEmail">
            <input type="password" name="name" id="d-signup-pwd" placeholder="Password" [(ngModel)]="regPassword">
            
            <span class="form-err signup-err" id="serr"></span> 

            <button id="signup-submit-btn" (click)="SignUp()">SIGN UP</button>


            <h5 class="nor">OR</h5>
            <div class="social-icons">
              <span class="social-icon facebook-icon" (click)="FBlogin()">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
              </span>
              
              <span class="social-icon google-icon" (click)="googleSignup()">
                <i class="fa fa-google" aria-hidden="true"></i>                      
              </span>

              <div class="social-icon linkedin-icon">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div *ngIf='showFpDiv'>
        
        <div class="fp-div">
          <div class="l-t-icon">
    
          </div>
          <h3 id="fp-head">FORGOT PASSWORD</h3>
          <h4 id="fp-p">Enter your email below and we'll send you the instructions on how to generate a new password.</h4>
          <input type="email" id="d-fp-email" placeholder="Enter your email address">
          <p class="form-err" id="prop-email-f-er">*Proper Email is required.</p>
          <p class="form-err" id="not-email-f-er">*That email is not registered with us.</p>
          <button id="fp-send-btn" (click)='showSentfp(true)'>SEND</button>
        </div>

      </div>
      <div *ngIf='showFpSent'>

        <div class="f-fp-div">
          <div class="l-t-icon">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
          <div>
            <h3 id="f-fp-head">Check in your mail !</h3>
            <h4 id="f-fp-p">We just emailed you with the instructions to reset your password.</h4>
          </div>
        </div>

      </div>
    </div>
    </div>

    <div *ngIf='showAuthorSignUp'>
      
      <div class="ss-dark-back">
        <div class="ss-dark-core">
          <h3 class="ss-head">Signup complete !</h3>
          <h4 class="ss-capt">Let's get started ! Tell us about you and your shop.</h4>
          <div class="ss-main">
            <table id="ss-shop-table">
              <tr>
                <td>
                  Shop Language<span class="ast">*</span>
                </td>
                <td>
                  <select class="ss-language-select ss-select" name="">
                    <option value="deu">Deutsch</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Shop Country<span class="ast">*</span>
                </td>
                <td>
                  <select class="ss-country-select ss-select" name="">
                    <option value="aus">Australia</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Shop Currency<span class="ast">*</span>
                </td>
                <td>
                  <select class="ss-currency-select ss-select" name="">
                    <option value="usd">$ United States Dollar</option>
                  </select>
                </td>
              </tr>
            </table>
            <hr id="ss-hr">
            <table id="ss-desc-table">
              <tr>
                <td id="top-al-td">
                  <span class="fold">Which of these <br>best describes you?</span><span class="ast">*</span>
                </td>
                <td>
                  <label for="ft"><input type="radio" id="ft" name="ss-desc" value="ft">Selling is my full time job</label><br>
                  <label for="ptst"><input type="radio" id="ptst" name="ss-desc" value="ptst">I sell part time but hope to sell full-time</label><br>
                  <label for="ptlt"><input type="radio" id="ptlt" name="ss-desc" value="ptlt">I sell part time and that's how I like it</label><br>
                  <label for="other"><input type="radio" id="other" name="ss-desc" value="other">Other</label>
                </td>
              </tr>
            </table>
          </div>
          <p class="form-err" id="p-radio-err">*Password shouldn\'t contain space</p>
          <button name="button" id="ss-create-acc-btn">CREATE MY ACCOUNT</button>
        </div>
      </div>

    </div>

    
    <!--<div class="social-signup-dark-back">
      <h3>Select your account type</h3>
      <div class="social-char-select">
        <table id="db-radio-table">
          <tr>
            <td>
              <input type="radio" id="c-char" name="char" value="client">
            </td>
            <td>
              <label for="c-char">Client</label>
            </td>
            <td>
              <input type="radio" id="a-char" name="char" value="author">
            </td>
            <td>
              <label for="author-char">Author</label>
            </td>
          </tr>
        </table>
        <button id="social-char-submit-btn">SUBMIT</button>
      </div>
    </div>-->
  
  <div class="total-er-div">
      <div class="total-er-main">
        That's your own gig !
      </div>
  </div>

</div>

<!-- Header -->
<!-- When not logged in -->
<div class="header1 header2">
<label for="res-men-check" class="visible-xs visible-sm t-check"><span><i class="fa fa-bars res-menu-ico" aria-hidden="true"></i><input type="checkbox" id="res-men-check" name="res-men-check"></span></label>
<div class="res-menu visible-xs visible-sm">
  <ul>
    <li  id="res-title">Market place</li>
    <li><a routerLink='/home'><i class="fa fa-home res-menu-icons" aria-hidden="true"></i>Home</a></li>
    <li id="res-categories-div">
      <div class="res-cat-head"><i class="fa fa-bars res-menu-icons" aria-hidden="true"></i>CATEGORIES <i class="fa fa-caret-down" style="margin-left:20px"></i></div>
    </li>
    <div id="res-cats">
      <ul>
        <li><a (click)="get_gigs('all')"><i class="res-menu-icons fa fa-globe" aria-hidden="true"></i>Browse all products</a>
        </li>
        <li><a (click)="get_gigs('rc')"><i class="res-menu-icons fa fa-file" aria-hidden="true"></i>Resumes and Cover Letters</a></li>
        <li><a (click)="get_gigs('or')"><i class="res-menu-icons fa fa-globe" aria-hidden="true"></i>Online Resumes</a></li>
        <li><a (click)="get_gigs('vr')"><i class="res-menu-icons fa fa-eye" aria-hidden="true"></i>Visual Resumes</a></li>
        <li><a (click)="get_gigs('lp')"><i class="res-menu-icons fa fa-linkedin" aria-hidden="true"></i>LinkedIn Profile</a></li>
        <li><a ><i class="res-menu-icons fa fa-anchor" aria-hidden="true"></i>Place Holder 1</a></li>
        <li><a ><i class="res-menu-icons fa fa-anchor" aria-hidden="true"></i>Place Holder 2</a></li>
      </ul>
    </div>
    <li><a routerLink='/how-it-works'><i class="res-menu-icons fa fa-question-circle-o" aria-hidden="true"></i>How it works</a></li>
    <li><a routerLink='/become-an-author'><i class="res-menu-icons fa fa-user" aria-hidden="true"></i>Become an Author</a></li>
    <li id="res-register-btn"><a><i class="res-menu-icons fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
    <li  id="res-sign-in-btn"><a><i class="res-menu-icons fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
  </ul>
</div>
<div *ngIf="authService.loggedIn() == false">
<header class="main-header visible-md visible-lg">
  <div class="header-control w-control">
    <a routerLink='/home'>
      <img src="../assets/../assets/img/m_logo.png" alt="" class="logo-img">
    </a>
    <ul class="horizantal-ul left-float-ul list-unstyled">
      <li>
        <div class="dropdown">
          <button class="dropbtn" id="main-cat-btn"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
          <div class="dropdown-content">
            <div class="menu-sub-menu-div">
              <div class="sub-sub-menu" id="br-all-sub">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu" id="res-sub">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu" id="on-sub">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
              <div class="sub-sub-menu" id="vr-sub">
                <ul>
                  <li><a>Accounting</a></li>
                  <li><a>Administration & Office Support</a></li>
                  <li><a>Advertising, Arts & Media</a></li>
                  <li><a>Banking & Financial Services</a></li>
                  <li><a>Call Centre & Customer Service</a></li>
                  <li><a>CEO & General Management</a></li>
                  <li><a>Construction</a></li>
                  <li><a>Consulting & Strategy</a></li>
                  <li><a>Design & Architecture</a></li>
                  <li><a>Education & Training</a></li>
                  <li><a>Engineering</a></li>
                  <li><a>Farming, Animals & Conservation</a></li>
                  <li><a>Government & Defence</a></li>
                </ul>
                <ul>
                  <li><a>Healthcare & Medical</a></li>
                  <li><a>Hospitality & Tourism</a></li>
                  <li><a>HR & Recruitment</a></li>
                  <li><a>Information & Communication Technology</a></li>
                  <li><a>Legal</a></li>
                  <li><a>Manufacturing & Logistics</a></li>
                  <li><a>Marketing</a></li>
                  <li><a>Real Estate & Property</a></li>
                  <li><a>Retail & Consumer Products</a></li>
                  <li><a>Sales</a></li>
                  <li><a>Science & Technology</a></li>
                  <li><a>Self Employment</a></li>
                  <li><a>Sports & Recreation</a></li>
                </ul>
              </div>
            </div>
            <table class="cat-tables bb no-padding">
              <tr>
                <td class="bb no-padding"><a><span class="cat-btns b-all-btn" (click)="get_gigs('all')">Browse all Products</span></a></td>
              </tr>
              <tr>
                <td class="bb no-padding"><a><span class="cat-btns res-btn" (click)="get_gigs('rc')">Resumes and Cover Letters</span></a></td>
              </tr>
              <tr>
                <td class="bb no-padding"><a><span class="cat-btns on-btn" (click)="get_gigs('or')">Online Resumes</span></a></td>
              </tr>
              <tr>
                <td class="bb no-padding"><a><span class="cat-btns vr-btn" (click)="get_gigs('vr')">Visual Resumes</span></a></td>
              </tr>
              <tr>
                <td class="bb no-padding"><a><span class="cat-btns lp-btn" (click)="get_gigs('lp')">LinkedIn Profile</span></a></td>
              </tr>
            </table>
          </div>
        </div>
      </li>
      <li routerLink='/how-it-works'>
        <input type="button" class="main-nav-btns" id="how-it-works-btn" value="HOW IT WORKS">
      </li>
      <li routerLink='/become-an-author'>
        <input type="button" class="main-nav-btns" id="become-an-author-btn" value="BECOME AN AUTHOR">
      </li>
    </ul>
    <ul class="horizantal-ul right-float-ul list-unstyled">
      <li>
        <input type="button" class="main-nav-btns" id="main-register-btn" (click)="showBackSignUp(true)" value="REGISTER">
      </li>
      <li id="sign-in-li">
        <input type="button" class="main-nav-btns" id="sign-in-btn" (click)="showBackLogin(true)" value="SIGN IN">
      </li>
    </ul>
  </div>
</header>
</div>

<!-- When Logged in -->
<div class="loggedin" *ngIf="authService.loggedIn() == true">
    <header style="background-color:#2C373B;color:white" class="main-header visible-md visible-lg">
        <div class="header-control w-control">
          <a routerLink='/home'>
            <img src="../assets/../assets/img/m_logo.png" alt="" class="logo-img">
          </a>
          <ul class="horizantal-ul left-float-ul list-unstyled">
            <li>
              <div class="dropdown">
                <button style="color:white;" class="dropbtn" id="main-cat-btn"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; &nbsp;CATEGORIES </button>
                <div class="dropdown-content">
                  <div class="menu-sub-menu-div">
                    <div class="sub-sub-menu" id="br-all-sub">
                      <ul>
                        <li><a>Accounting</a></li>
                        <li><a>Administration & Office Support</a></li>
                        
                      </ul>
                      <ul>
                        <li><a>Healthcare & Medical</a></li>
                        <li><a>Hospitality & Tourism</a></li>
                        
                      </ul>
                    </div>
                    <div class="sub-sub-menu" id="res-sub">
                      <ul>
                        <li><a>Accounting</a></li>
                        <li><a>Administration & Office Support</a></li>
                       
                      </ul>
                      <ul>
                        <li><a>Healthcare & Medical</a></li>
                        <li><a>Hospitality & Tourism</a></li>
                       
                      </ul>
                    </div>
                    <div class="sub-sub-menu" id="on-sub">
                      <ul>
                        <li><a>Accounting</a></li>
                        <li><a>Administration & Office Support</a></li>
                       
                      </ul>
                      <ul>
                        <li><a>Healthcare & Medical</a></li>
                        <li><a>Hospitality & Tourism</a></li>
                       
                      </ul>
                    </div>
                    <div class="sub-sub-menu" id="vr-sub">
                      <ul>
                        <li><a>Accounting</a></li>
                        <li><a>Administration & Office Support</a></li>
                       
                      </ul>
                      <ul>
                        <li><a>Healthcare & Medical</a></li>
                        <li><a>Hospitality & Tourism</a></li>
                        <li><a>HR & Recruitment</a></li>
                        <li><a>Information & Communication Technology</a></li>
                        <li><a>Legal</a></li>
                        <li><a>Manufacturing & Logistics</a></li>
                        <li><a>Marketing</a></li>
                        <li><a>Real Estate & Property</a></li>
                        <li><a>Retail & Consumer Products</a></li>
                        <li><a>Sales</a></li>
                        <li><a>Science & Technology</a></li>
                        <li><a>Self Employment</a></li>
                        <li><a>Sports & Recreation</a></li>
                      </ul>
                    </div>
                  </div>
                  <table class="cat-tables bb no-padding">
                    <tr>
                      <td class="bb no-padding"><a><span class="cat-btns b-all-btn" (click)="get_gigs('all')">Browse all Products</span></a></td>
                    </tr>
                    <tr>
                      <td class="bb no-padding"><a><span class="cat-btns res-btn" (click)="get_gigs('rc')">Resumes and Cover Letters</span></a></td>
                    </tr>
                    <tr>
                      <td class="bb no-padding"><a><span class="cat-btns on-btn" (click)="get_gigs('or')">Online Resumes</span></a></td>
                    </tr>
                    <tr>
                      <td class="bb no-padding"><a><span class="cat-btns vr-btn" (click)="get_gigs('vr')">Visual Resumes</span></a></td>
                    </tr>
                    <tr>
                      <td class="bb no-padding"><a><span class="cat-btns lp-btn" (click)="get_gigs('lp')">LinkedIn Profile</span></a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </li>
            <li routerLink='/how-it-works'>
              <input style="color:white;" type="button" class="main-nav-btns" id="how-it-works-btn" value="HOW IT WORKS">
            </li>
            <li routerLink='/become-an-author'>
              <input style="color:white;" type="button" class="main-nav-btns" id="become-an-author-btn" value="BECOME AN AUTHOR">
            </li>
          </ul>
          <ul class="horizantal-ul right-float-ul list-unstyled">
              <div class="right">
                  <li>
                      <i style="font-size:25px;color:#999999;" class="fa fa-envelope-o" aria-hidden="true"></i> 
                      <div style="background-color:#00C7E4;border-radius:4px;height:15px;width:15px;color:white;left:-10%;top:-10%;transform:translate(-210%,-80%)" class="notify">
                          <p style="text-align:center;font-size:12px;">!</p>
                        </div>
                      
                      
                  </li>
                  <li class="dropdown">
                   
                      <span (click)="go_to_not()"><i style="font-size:25px;color:#999999;" class="fa fa-cog" aria-hidden="true"></i></span> 
                      <div style="background-color:#00D7B5;border-radius:4px;height:15px;width:25px;color:white;left:-10%;top:-10%;transform:translate(-150%,-80%)" class="notify" (mouseover)="toZero()">
                        <p style="text-align:center;font-size:12px;" (mouseover)="toZero()">{{unread_num}}</p>
                      </div>
                    
                      <ul class="navbar-stacked dropdown-menu" id="not_down">
                        <div *ngFor="let not of f_not_num">
                          <div (click)="goto_order_det(not.dest,not.link,not.not_id)">
                          <li style="height:50px" ><img style="left:2%;transform:translate(0%,2%);position:absolute" src="http://localhost:3000{{not.image}}" class="img-fluid img-circle imgg"  alt="img" width="35px" height="35px"><span style="left:20%;transform:translate(15%,0%)">{{not.message}}...</span><span style="font-size:70%;color:#999;left:14%;top:10%;transform:translate(10%,50%);position:relative">{{not.date}}</span></li><br>
                        </div>
                        </div> 
                          <!-- <li>Profile Page</li><br>
                          <li>Profile Page</li><br>
                          <li>Profile Page</li><br> -->
                      </ul>
                      
                  </li>
                  <li class="dropdown">
                      <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle imgg"  alt="img" width="35px" height="35px">  

                      
                          <ul class="navbar-stacked dropdown-menu">
                            <li style="background-color:#FF5341;color:white;height:auto;min-height:60%;">Your popularity<h3>very low</h3></li><br>
                            <li (click) ="gotoseller()">
                                <a><span class="cat-btns b-all-btn">Profile</span></a>
                            </li>
                            <li><a routerLink="/settings"><span class="cat-btns b-all-btn">Account Settings</span></a></li><br>
                            <li>Your Purchases</li><br>
                            <li>Sales Statement</li><br>
                            <li>Buy Credits</li><br>
                            <li> <a routerLink="/categories"><span class="cat-btns b-all-btn">Withdrawals</span></a></li><br>
                            <li>Upload Item</li><br>
                            <li>Manage Items</li><br>
                            <li> <a (click)='Logout()'><span class="cat-btns b-all-btn">Logout</span></a></li>
                          </ul>
                        
                        </li>


                        


                  </div>

                  
          </ul>
        </div>
      </header> 
</div>  
  


<router-outlet>

</router-outlet>

<div style="clear:both"></div>
<div class="clear-both"></div>
<!--<footer class="main-footer">
  <div class="footer-cover">
    <div class="w-control">
      <div id="featured-div">
        <p>As featured in...</p>
        <div class="com-div"></div>
      </div>
      <div class="clear-both"></div>
      <div class="footer-core">
        <h3 class="row align-items-start">86% OF THE FORTUNE 100 <br>USE MARKET PLACE</h3>
        <div class="footer-nav row align-items-center">
          <div class="footer-navs">
            <ul class="footer-nav-ul">
              <li class="footer-nav-heads">MARKET PLACE</li>
              <li><a routerLink='/home'>HOME</a></li>
              <li><a routerLink='/about'>ABOUT</a></li>
              <li><a routerLink='/become-an-author'>BECOME AN AUTHOR</a></li>
              <li><a routerLink='/how-it-works'>HOW IT WORKS</a></li>
              <li><a routerLink='/help'>HELP</a></li>
              <li>COMPANY</li>
              <li>DOWNLOAD</li>
            </ul>
          </div>
          <div class="footer-navs">
            <ul class="footer-nav-ul">
              <li class="footer-nav-heads">RESOURCES</li>
              <li>SHARE</li>
              <li>PORTAL</li>
              <li>BLOG</li>
              <li>FORUM</li>
            </ul>
          </div>
          <div class="footer-navs">
            <ul class="footer-nav-ul">
              <li class="footer-nav-heads">LEGAL</li>
              <li><a routerLink='/terms'>TERMS OF USE</a></li>
              <li><a routerLink='/privacy-policy'>PRIVACY POLICY</a></li>
              <li>LICENSE AGREEMENT</li>
              <li>PATENTS</li>
            </ul>
          </div>
          <div class="footer-navs">
            <ul class="footer-nav-ul">
              <li class="footer-nav-heads">CONNECT</li>
              <li>TWITTER</li>
              <li>FACEBOOK</li>
              <li>LINKENIN</li>
              <li>GOOGLE+</li>
            </ul>
          </div>
          <div class="footer-navs">
            <ul class="footer-nav-ul">
              <li class="footer-nav-heads">EMAIL</li>
              <li>CONTACTUS@MARKETPLACE.COM</li>
              <li>SUPPORT@MARKETPLACE.COM</li>
              <li>SALES@MARKETPLACE.COM</li>
              <li>PR@MARKETPLACE.COM</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-main-title row align-items-end">
        <h2>Market place</h2>
        <h6>&copy;2015-2016 Marketplace software, Inc. All rights reserved. Market place is a registered trademark of Market
          place software, Inc.</h6>
      </div>
    </div>
  </div>
</footer>-->



<!-- Diamond Dashboard -->
  <div class="diamond-dashboard">
    <div class="diamond-core">
      <div class="diamond-dash-header">
        <h3 class="title">NAVIGATION</h3><span id="diamond-close"><i class="fa fa-times x-img"></i></span></div>
      <div class="diamond-tiles-div">
        <a routerLink='/dashboard'>
          <div class="diamond-tiles">
            <span class="center">
        <i class="fa fa-home diamond-imgs" aria-hidden="true"></i><br>
        Dashboard
      </span>
          </div>
        </a>
        <a routerLink='/seller'>
          <div class="diamond-tiles">
            <span class="center">
        <i class="fa fa-user diamond-imgs" aria-hidden="true"></i><br>
        Profile
      </span>
          </div>
        </a>
        <a>
          <div class="diamond-tiles">
            <span class="center">
              <i class="fa fa-tasks diamond-imgs" aria-hidden="true"></i><br>
              Tasks
            </span>
          </div>
        </a>
        <a routerLink='/settings'>
          <div class="diamond-tiles">
            <span class="center">
        <i class="fa fa-cog diamond-imgs"></i><br>
        Settings
      </span>
          </div>
        </a>
      </div>
    </div>
  </div>