      <div class="m-core">
          <div class="manage-orders-core">
            <h2 id="orders-title">MY ORDERS</h2>
            <div class="my-gigs-index">
              <button class="index-head">
          Orders
        </button>
              <button class="index-item" id="completed-btn">
          Completed
        </button>
              <button class="index-item" id="progress-btn">
          In Progress
        </button>
              <button class="index-item" id="cancelled-btn">
          Cancelled
        </button>
              <button class="index-item selected-index" id="all-btn">
          All
        </button>
            </div>
            <div class="orders-div">
              <div class="pay-summary">
                <div class="pay-sum-items">
                  <div class="pay-ico-core">
                    <i class="fa fa-gift pay-sum-icons"></i>
                  </div>
                  <div class="pay-sum-core">
                    <div class="pay-num">8.534</div>
                    <div class="pay-desc">
                      <h3>Products Sold</h3>
                      <h4>In all Time</h4>
                    </div>
                  </div>
                </div>
                <div class="pay-sum-items">
                  <div class="pay-ico-core">
                    <i class="fa fa-gift pay-sum-icons"></i>
                  </div>
                  <div class="pay-sum-core">
                    <div class="pay-num">234</div>
                    <div class="pay-desc">
                      <h3>Products Sold</h3>
                      <h4>In this Month</h4>
                    </div>
                  </div>
                </div>
                <div class="pay-sum-items">
                  <div class="pay-ico-core">
                    <i class="fa fa-tag pay-sum-icons"></i>
                  </div>
                  <div class="pay-sum-core">
                    <div class="pay-num">$ 12.450</div>
                    <div class="pay-desc">
                      <h3>Total Sales</h3>
                      <h4>In all Time</h4>
                    </div>
                  </div>
                </div>
                <div class="pay-sum-items">
                  <div class="pay-ico-core">
                    <i class="fa fa-briefcase pay-sum-icons"></i>
                  </div>
                  <div class="pay-sum-core">
                    <div class="pay-num">$ 10.630</div>
                    <div class="pay-desc">
                      <h3>Total Earning</h3>
                      <h4>In all Time</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="orders-core">
               

                  <div class="order-item">
                    <div class="oi-top">
                      <table>
                        <tr>
                          <th>
                            Ordered
                          </th>
                          <th>
                            Buyer
                          </th>
                          <th>
                            Total
                          </th>
                        </tr>
                        <tr>
                          <td>
                            Day Month
                          </td>
                          <td>
                            <a routerLink='/seller'>
                              Seller
                            </a>
                          </td>
                          <td>
                            US $
                            400
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="oi-middle">
                      <h3>
                        Title
                      </h3>
                      <div class="milestone-back">
                        <div class="milestone-main" style="width: 50%">
                        </div>
                      </div>
                      <div class="milestone-dets">
                        <div class="float-left">
                          Month, Day, Year
                        </div>
                        <div class="float-right">
                          Month, Day, Year
                        </div>
                      </div>
                    </div>
                    <div class="oi-bottom">
                      <div class="oi-bottom-items">
                        <i class="fa fa-comment-o" aria-hidden="true" style="margin-right:15px"></i>34
                      </div>
                      <div class="oi-bottom-items" id="oi-bottom-middle">
                        <a routerLink='/gig-details'><i class="fa fa-eye" aria-hidden="true" style="margin-right:15px"></i>Quick View</a>
                      </div>
                      <div class="oi-bottom-items">
                        <a routerLink='/order-details'><i class="fa fa-briefcase" aria-hidden="true" style="margin-right:15px"></i>Project</a>
                      </div>
                    </div>
                  </div>
                    <!--<div class="order-item">
          <div class="oi-top">
            <table>
              <tr>
                <th>
                  Ordered
                </th>
                <th>
                  Buyer
                </th>
                <th>
                  Total
                </th>
              </tr>
              <tr>
                <td>
                  14 July
                </td>
                <td>
                  Sid
                </td>
                <td>
                  US $49.00
                </td>
              </tr>
            </table>
          </div>
          <div class="oi-middle">
            <h3>Title</h3>
            <div class="milestone-back">
              <div class="milestone-main">

              </div>
            </div>
            <div class="milestone-dets">
              <div class="float-left">Milestone 3/6</div>
              <div class="float-right">4th,April</div>
            </div>
          </div>
          <div class="oi-bottom">
            <div class="oi-bottom-items">
              <i class="fa fa-comment-o" aria-hidden="true" style="margin-right:15px"></i>34
            </div>
            <div class="oi-bottom-items" id="oi-bottom-middle">
              <i class="fa fa-eye" aria-hidden="true" style="margin-right:15px"></i>Quick View
            </div>
            <div class="oi-bottom-items">
              <i class="fa fa-briefcase" aria-hidden="true" style="margin-right:15px"></i>Project
            </div>
          </div>
        </div>-->
              </div>
            </div>
          </div>
      </div>
      
        
       