     <div class="inbox-container">
    <div class="width-desktop">
    <div class="inbox-core">
  		<h2 id="mailbox-title">Mailbox</h2><br>
  		<span class="msg-msg">You have <span class="unread-num">5</span> unread messages</span>
  		<div class="mailbox-nav-div">
        <ul>
          <li><button>Inbox</button></li>
          <!--<li><button>Sent</button></li>
          <li><button>Trash</button></li>-->
        </ul>
  		</div>

      <div class="inbox-in">
  		<div class="left-contacts">
  			<div class="contacts-core">
                  <div class="contact" id="con">
                    <span style="display:none" class="cid"></span>
                    <span style="display:none" class="conid"></span>
                    <div class="contact-wrap">
                      <div class="contact-img-div">
                        <img src="" class="contact-img">
                      </div>
                      <div class="contact-msg-table-div">
                        <table class="contact-msg-table">
                          <tr><td><span class="contact-name"></span></td><td><span class="date"></span></td></tr>
                          <tr><td colspan="2"><span class="msg-hint">
                          </span></td></tr>
                        </table>
                      </div>
                    </div>
                  </div>
  			</div>
  		</div>
  		<div class="messages-div">

  		</div>
  		</div>
      </div>
    </div>
    </div>
      <div class="clear-both"></div>
    <!-- </div> -->
