<br><br><br><br><br><br><br><br><!doctype html>
<html>
  <body>
  
    <nav class="navbar navbar-default" style="background:#00B22D;">
      <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <div class="row">
            
            <div class="col-lg-3 col-xs-12">
              <div class="col-lg-2 col-xs-2 submitted1">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="col-lg-10 col-xs-10 submitted">
                <p>DELIVERY <br>SUBMITTED</p>
              </div>
            </div>
            <div class="col-lg-2 col-xs-12"></div>
            <div class="col-lg-7 col-xs-12 complete">
              <p><i class="fa fa-check" aria-hidden="true"></i>ORDER <span>COMPLETED</span></p>
            </div>
          </div>
        </nav>
      </div>
    </nav>
 <div class="container">

  <div class="col-lg-10 col-xs-12 table-container">
    <div class="tabs">
        <ul class="tab-links">
          <li class="active">ACTIVITY</li>
          <li>RESOLUTION CENTER</li>
        </ul>
        </div>
  
   
<table class="table table-border">
    

      <table style="width:800px" class="table table-responsive table-striped">
          <tr>
              <th >
                <img src="http://localhost:3000{{img}}" class="img-fluid" alt="img" width="100px" height="auto">
              </th>
              <th>
                <h4>{{title}}</h4>
                <p>Seller:<a (click)="goto_gig_det(gig_id)" style="cursor:pointer">{{name}}</a>&emsp;|&emsp;Order:{{order_id}}&emsp;|&emsp;{{date}}</p>
              </th>
              <th>${{total_amount}}</th>
            </tr>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Duration</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>{{title}}</td>
          <td>1</td>
          <td>{{total_days}} Days</td>
          <td>${{actual_amount}}</td>
        </tr>
        <tr>
          <td>Processing Fee(5%)</td>
          <td></td><td></td>
          <td>${{process_fee}}</td>
        </tr>
      </table>

      <table style="width:800px" class="table table-responsive table-striped">
        
          <th>BRIEF</th>
        
        <tr>
          <td>{{description}}</td>
        </tr>
        <tr><td></td></tr>
        
      </table>
    </table>
    <button class="btn btn-primary">DELIVER</button>
    <table class="table table1">
      <tr>
        <p><i  class="fa fa-motorcycle" aria-hidden="true"></i></p>
        <p class="p1">ORDER STARTED</p>
        <p>harrybest will soon start working on your order</p>
        <p>this order is expected to be delivered on November 14, 2015.</p>
      </tr><hr>
      <tr>
        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
        <p class="p2">DELIVERY DEADLINE MISSED</p>
        <p>The seller failed to deliver this order on time</p>
        <p>You can now cancel the order</p>
      </tr><hr>
      <tr>
        <p><i class="fa fa-gift" aria-hidden="true"></i></p>
       <p class="p1"> HERE'S YOUR DELIVERY</p>
       <p>This order will be marked as complete in 3 days.</p><br>

      </tr>
      <tr>
        <div class="col-lg-1 col-xs-12">
            <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle" alt="img" width="50px" height="auto">
        </div>
        <div class="col-lg-11 col-xs-12">
          <p style="text-align:left;">harrybest</p>
          <p style="text-align:left;">Hi sir, give a positive review please and if have some modifications then inform me i'll do it:)</p>
          <p style="text-align:right;color:#C1C1C1;font-size:12px">00.41 NOVEMBER 21, 2015</p>
        </div>
      </tr><hr>
      <tr>
          <p><i class="fa fa-gift" aria-hidden="true"></i></p>
         <p class="p1"> HERE'S YOUR DELIVERY</p>
         <p>This order will be marked as complete in 3 days.</p><br>
  
        </tr>
      <tr>
          <div class="col-lg-1 col-xs-12">
              <img src="../../assets/img/pro-pic.jpg" class="img-fluid img-circle" alt="img" width="50px" height="auto">
          </div>
          <div class="col-lg-11 col-xs-12">
            <p style="text-align:left;">harrybest</p>
            <p style="text-align:left;">Hi sir, give a positive review please and if have some modifications then inform me i'll do it:)</p>
            <p style="text-align:right;color:#C1C1C1;font-size:12px">00.41 NOVEMBER 21, 2015</p>
          </div>
        </tr>
        
        <tr class="green">
          <p><i class="fa fa-comment-o" aria-hidden="true"></i></p>
          <p style="color:white;">Please rate your experience</p>
           <div class="col-lg-1 col-xs-12"></div>
          <div class="col-lg-10 col-xs-12 inner-div">
           <table class="table  table-responsive inner-div1">
          <tr>
          <td>
          <h5>Communicate with seller</h5>  
          <h6>How responsive was the seller during the process?</h6>
          </td>  
          <td>stars</td>
          </tr>   
          <tr>
              <td>
              <h5>Communicate with seller</h5>  
              <h6>How responsive was the seller during the process?</h6>
              </td>  
              <td>stars</td>
              </tr>   
              <tr>
                  <td>
                  <h5>Communicate with seller</h5>  
                  <h6>How responsive was the seller during the process?</h6>
                  </td>  
                  <td>stars</td>
                  </tr>   
          </table>
          </div>
          <div class="col-lg-1 col-xs-12"></div>
             
        </tr>
      
        <tr class="order"><br>
            <p><i class="fa fa-gift" aria-hidden="true"></i></p>
            <p style="color:#00668C">----------------------ORDER COMPLETED!-------------------------</p>
        </tr><br>

        <tr>
          <p>This order is complete. Click <span style="color:green">here</span> to contact the seller</p>
        </tr>
    </table><br><br><br><br><br><br><br><br>
    
   </div> 
  </div>
  
  </body>
</html>
