.a-f-vp {
  height: 500px;
}

.a-f-b-p {
  height: 100%;
}
.a-f-b-p h3{
  white-space: normal;
}
ol li{
  text-align: justify
}
@media screen and (min-width:220px) and (max-width:740px) {
  .left-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .w-control{
    width: 320px;
  }
}