<div class="m-core">
    <div class="manage-orders-core my-fav-div  w-control">
      <h2 id="orders-title">My Favorites</h2>
        <div class="no-fav-div" *ngIf="favorites_length">
          <h3>You have no favorites</h3>
          <p>
            Instead of feeling empty, why don't you <a routerLink='/categories'>browse Marketplace</a> to see if
            you can find some items you like?
          </p>
        </div>
        <div class="gigs-core gigs-div" >
          <div  *ngFor="let gig of fav">

         
            <a class="gig-links">
  
              <div class="gig">
  
                <div class="gig-pic">
                  <img src="http://localhost:3000{{gig.img1.replace('public','')}}" alt="" style="height:100%;width:auto;max-width:100%">
                </div>
                <div class="gig-dets">
                  <h4>
                    {{gig.title}}
                  </h4>
                  <h5 class="gig-credits">
                    {{first_name}} {{last_name}}
                  </h5>
                </div>
  
                <div class="gig-footer">
                    <div class="dets">Details</div>
                    <div class="cost">$ {{gig.pac_cos_sta}}</div>
                </div>
  
              </div>
            
              <div class="gig-details-container">
                  <div class="gig-dets-top">
                <p>Published: 08/2016</p>
                <h3 style="color:#888">The Complete Digital Marketing Course - 12 Courses in 1</h3>

                <p style="color:#999">Master Digital Marketing & Grow Your Business: SEO, Facebook, YouTube, Social Media Marketing, Google Analytics & More!</p>
                <li style="color:#999">Grow your own business from scratch</li>
                <li style="color:#999">Make better decisions on how to market your business</li>
                <li style="color:#999">Upgrade your digital marketing skills for a new job or career change</li>
                  </div>
                  <div class="gig-dets-btm">
                    <button class="dets-add-to-cart-btn">
                      Add to cart
                    </button>
    
                    <button class="dets-add-fav-btn">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
            </a>
  
          </div>
          <a class="empty-gigs"></a>
          <a class="empty-gigs"></a>
          <a class="empty-gigs"></a>
          <a class="empty-gigs"></a>
          <a class="empty-gigs"></a>
    </div>
    </div>
</div>
      
        
      