<div class="m-core">
    <div class="manage-orders-core my-fav-div  w-control">
      <h2 id="orders-title">My Favorites</h2>
        <div class="no-fav-div">
          <h3>You have no favorites</h3>
          <p>
            Instead of feeling empty, why don't you <a routerLink='/categories'>browse Marketplace</a> to see if
            you can find some items you like?
          </p>
        </div>
        <div class="gigs-core gigs-div col-xs-12">
            <a class="gig-links">
  
              <div class="gig">
  
                <div class="gig-pic"></div>
                <div class="gig-dets">
                  <h4>
                    Title
                  </h4>
                  <h5 class="gig-credits">
                    Seller
                  </h5>
                </div>
  
                <div class="gig-footer">
                    <div class="dets">Details</div>
                    <div class="cost">$ 200</div>
                </div>
  
              </div>
              <div class="gig-details-container">
                <div class="gig-dets-top">
  
                </div>
                <div class="gig-dets-btm">
                  <button class="dets-add-to-cart-btn">
                    Add to cart
                  </button>
  
                  <button class="dets-add-fav-btn">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </a>
  
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
            <a class="empty-gigs"></a>
      </div>

    </div>
</div>
      
        
      